Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

isort:
  name: isort
  entry: uv run --dev isort
  language: system

yapf:
  name: yapf
  entry: uv run --dev yapf -i
  language: system

check-repo-tasks:
  name: check-repo-tasks
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
  language: system

find-debug-calls:
  name: Find debug calls
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
  language: system

cmake-format:
  name: cmake-format
  entry: cmake-format -i
  language: system

no-undocumented-api:
  name: Prevent undocumented Python/C++ functions/classes (whole file)
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  language: system
  pass_filenames: true

wip(diag): diagram main package compile OK
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/graph_visual.hpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/high_ir/graph_diagram_validate.cpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/high_ir/graph_diagram_validate.hpp
  hstd_cpp_diagram_lib/tests/tDiagramTestsCommon.hpp
  hstd_cpp_diagram_lib/tests/tGraphVisualSpec.cpp
Due: find-debug-calls, no-undocumented-api

wip(diag): fixing linker errors in graphviz
  justfile
  repo_conan_wraps/graphviz/conanfile.py
Due: isort, yapf, no-undocumented-api

fix(diag): use shared graphviz library
  repo_conan_wraps/graphviz/conanfile.py
  repo_conan_wraps/graphviz/test_package/test_package.c
Due: isort, yapf, no-undocumented-api

fix(diag): add missing png backend for graphviz
  justfile
  repo_conan_wraps/graphviz/conanfile.py
  repo_conan_wraps/graphviz/test_package/test_package.c
  repo_tool_configs/conan/conanprofile.txt
Due: isort, yapf, no-undocumented-api

fix(refl): cxx reflecion gen install OK
  haxdex_cpp_refl_read/CMakeLists.txt
  haxdex_cpp_refl_read/conanfile.py
  haxdex_cpp_refl_read/proto/haxdex_cpp_refl_read/reflection_defs.proto
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/branching_include_collector.hpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/main.cpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/profdata_merger.cpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/profdata_merger.hpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/profdata_merger.sql
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_collector.cpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_collector.hpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_collector_frontend.cpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_collector_frontend.hpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_config.hpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_demangler.cpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_demangler.hpp
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_demangler.sql
  haxdex_cpp_refl_read/src/haxdex_cpp_refl_read/reflection_perf.hpp
  justfile
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): top-level cmake file
  CMakeLists.txt
  conanws.yml
  haxdex_cpp_refl_read/CMakeLists.txt
  haxdex_cpp_refl_read/conanfile.py
  haxorg_c_lib_wrap/CMakeLists.txt
  haxorg_cpp_org_cli/CMakeLists.txt
  haxorg_cpp_org_cli/conanfile.py
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/cli_opts.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/cli_opts.hpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/common_ctx.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/common_ctx.hpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/diagram_ctx.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/diagram_ctx.hpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/export_ctx.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/export_ctx.hpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/haxorg_cpp_org_cli.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/make_proto_xml_mapper.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/parse_ctx.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/parse_ctx.hpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/proto_to_xml.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/proto_to_xml.hpp
  haxorg_cpp_org_lib/CMakeLists.txt
  haxorg_py_lib_wrap/CMakeLists.txt
  haxorg_py_lib_wrap/package/pyproject.toml
  hstd_cpp_diagram_lib/CMakeLists.txt
  hstd_cpp_lib/CMakeLists.txt
  hstd_cpp_lib/conanfile.py
  hstd_cpp_text_layout/CMakeLists.txt
  hstd_py_text_layout/CMakeLists.txt
  hstd_py_text_layout/conanfile.py
  justfile
  repo_ci_config/py_ci/data_build.py
  repo_py_orchestrate/haxorg_base.py
  repo_tool_configs/conan/conanprofile.txt
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): top-level cmake config
  .gitignore
  .pre-commit-config.yaml
  conanws.yml
  hstd_py_text_layout/conanfile.py
  justfile
  repo_conan_wraps/adaptagrams/conanfile.py
  repo_conan_wraps/graphviz/.gitignore
  repo_conan_wraps/kiwi/.gitignore
Due: isort, yapf, no-undocumented-api

wip(repo): repo
  repo_conan_wraps/protovalidate-cc/.gitignore
  repo_conan_wraps/protovalidate-cc/conanfile.py
Due: isort, yapf, no-undocumented-api

wip(repo): protovalidate test package
  conanws.py
  repo_conan_wraps/protovalidate-cc/test_package/CMakeLists.txt
  repo_conan_wraps/protovalidate-cc/test_package/conanfile.py
  repo_conan_wraps/protovalidate-cc/test_package/main.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

clean(repo): remove redundant python utils
  haxorg_py_lib_wrap/package/pyproject.toml
  repo_py_orchestrate/config/binary_size_report.json
  repo_py_orchestrate/config/haxorg_build_profile_merge.json
  repo_py_orchestrate/config/haxorg_conf.json
  repo_py_orchestrate/config/haxorg_conf_develop_ci.json
  repo_py_orchestrate/config/haxorg_conf_develop_docker_ci.json
  repo_py_orchestrate/config/haxorg_conf_emcc_only.json
  repo_py_orchestrate/config/haxorg_conf_minimal_size.json
  repo_py_orchestrate/config/haxorg_conf_sarif.json
  repo_py_orchestrate/config/haxorg_only_source_generate.json
  repo_py_orchestrate/deps_build.py
  repo_py_orchestrate/examples_build.py
  repo_py_orchestrate/haxorg_base.py
  repo_py_orchestrate/haxorg_build.py
  repo_py_orchestrate/haxorg_coverage.py
  repo_py_orchestrate/haxorg_docker.py
  repo_py_orchestrate/workflow_variables.py
Due: isort, yapf, no-undocumented-api

wip(py): cleaning up dead python code
  .cmake-format
  .directory
  .rgignore
  conftest.py
  haxorg_c_lib_wrap/CMakeLists.txt
  haxorg_c_lib_wrap/src/CMakeLists.txt
  haxorg_py_lib_wrap/CMakeLists.txt
  hstd_cpp_lib/cmake/functions_setup.cmake
  hstd_cpp_text_layout/CMakeLists.txt
  hstd_py_lib/src/py_scriptutils/external_packages/click_utils.py
  hstd_py_lib/src/py_scriptutils/external_packages/pandas_utils.py
  hstd_py_lib/src/py_scriptutils/external_packages/sqlalchemy_utils.py
  hstd_py_lib/src/py_scriptutils/test_utils.py
  hstd_py_lib/src/py_scriptutils/test_utils_gtest.py
  hstd_py_text_layout/CMakeLists.txt
  hstd_py_text_layout/cmake/hstd_py_text_layout-config.cmake.in
  tests/python/conftest.py
Due: isort, yapf, cmake-format, no-undocumented-api

feat(build): test package for protovalidate
  repo_conan_wraps/protovalidate-cc/conanfile.py
  repo_conan_wraps/protovalidate-cc/test_package/CMakeLists.txt
  repo_conan_wraps/protovalidate-cc/test_package/main.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): wrap protovalidate using extra cmake
  repo_conan_wraps/protovalidate-cc/.gitignore
  repo_conan_wraps/protovalidate-cc/CMakeLists.txt
  repo_conan_wraps/protovalidate-cc/conanfile.py
  repo_conan_wraps/protovalidate-cc/protovalidate_cc-config.cmake.in
Due: isort, yapf, cmake-format, no-undocumented-api

wip(repo): top workspace wip
  haxorg_py_lib_wrap/src/py_type_casters.cpp
  hstd_cpp_lib/conanfile.py
  hstd_cpp_lib/src/hstd_cpp_lib/extra/nanobind_utils/py_type_casters.hpp
  hstd_cpp_lib/src/hstd_cpp_lib/extra/nanobind_utils/register_types.hpp
  hstd_cpp_lib/test_package/CMakeLists.txt
  hstd_cpp_text_layout/conanfile.py
  hstd_py_text_layout/CMakeLists.txt
  hstd_py_text_layout/src/hstd_py_text_layout/py_textlayout.cpp
  repo_conan_wraps/protovalidate-cc/CMakeLists.txt
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): common haxorg package for conan
  haxorg_conan_base/conanfile.py
  haxorg_cpp_org_lib/CMakeLists.txt
  hstd_cpp_lib/CMakeLists.txt
  hstd_cpp_lib/cmake/functions_setup.cmake
  hstd_cpp_lib/cmake/hstd_cpp_lib_proto.cmake
  hstd_cpp_lib/conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

wip(refl): convert refl reader to common package
  conanws.yml
  haxdex_cpp_refl_read/CMakeLists.txt
  haxdex_cpp_refl_read/cmake/haxdex_cpp_refl_read_config.cmake.in
  haxdex_cpp_refl_read/conanfile.py
  haxdex_cpp_refl_read/tests.disabled/file.hpp
  haxdex_cpp_refl_read/tests.disabled/refl_test_driver.py
  haxdex_cpp_refl_read/tests.disabled/test_coverall_input.cpp
  haxdex_cpp_refl_read/tests.disabled/test_coverall_refl.py
  haxdex_cpp_refl_read/tests.disabled/test_enum_reflection.py
  haxdex_cpp_refl_read/tests.disabled/test_function_reflection.py
  haxdex_cpp_refl_read/tests.disabled/test_include_reflection.py
  haxdex_cpp_refl_read/tests.disabled/test_record_reflection.py
  haxdex_cpp_refl_read/tests.disabled/test_reflection_algorithm.py
  haxdex_cpp_refl_read/tests.disabled/test_type_reflection.py
  haxdex_cpp_refl_read/tests.disabled/test_wrapper_generation.py
  haxorg_conan_base/conanfile.py
  haxorg_cpp_org_lib/CMakeLists.txt
  haxorg_cpp_org_lib/cmake/haxorg_cpp_org_lib-config.cmake.in
  haxorg_cpp_org_lib/conanfile.py
  hstd_cpp_lib/CMakeLists.txt
  hstd_cpp_lib/cmake/functions_setup.cmake
  repo_py_validate/prepare_commit_message.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

clean(repo): unify C wrapper naming style
  .fdignore
  .pre-commit-config.yaml
  CMakeLists.txt
  conanws.py
  conanws.yml
  haxorg_c_lib_wrap/CMakeLists.txt
  haxorg_c_lib_wrap/cmake/haxorg_c_haxorg_config.cmake.in
  haxorg_c_lib_wrap/conanfile.py
  haxorg_c_lib_wrap/src/CMakeLists.txt
  haxorg_c_lib_wrap/src/haxorg_c_vtables_manual.hpp
  haxorg_conan_base/conanfile.py
  haxorg_cpp_c_wrap/CMakeLists.txt
  haxorg_cpp_c_wrap/conanfile.py
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c.cpp
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c.h
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c_api.cpp
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c_api.h
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c_utils.cpp
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c_utils.hpp
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c_vtables.cpp
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c_vtables.hpp
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c_vtables_manual.cpp
  haxorg_cpp_c_wrap/src/haxorg_cpp_c_wrap/haxorg_c_vtables_manual.hpp
  haxorg_cpp_org_cli/CMakeLists.txt
  haxorg_cpp_org_lib/tests/tOrgCApi.cpp
  haxorg_cpp_py_wrap/CMakeLists.txt
  haxorg_cpp_py_wrap/conanfile.py
  haxorg_cpp_py_wrap/src/haxorg_cpp_py_wrap/pyhaxorg_manual_impl.hpp
  haxorg_cpp_py_wrap/src/haxorg_cpp_py_wrap/pyhaxorg_manual_refl.cpp
  haxorg_py_codegen/py_codegen/codegen_wrapper_c.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(diag): graphviz plugin registration
  haxorg_conan_base/conanfile.py
  hstd_cpp_diagram_lib/CMakeLists.txt
  hstd_cpp_diagram_lib/conanfile.py
  repo_conan_wraps/adaptagrams/conanfile.py
  repo_conan_wraps/graphviz/conanfile.py
  repo_conan_wraps/kiwi/conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

fix(diag): fix gv plugin registration
  hstd_cpp_diagram_lib/tests/diagram_tests/kiwi_even_gap.json.disabled
  hstd_cpp_diagram_lib/tests/diagram_tests/kiwi_linear.json.disabled
  hstd_cpp_diagram_lib/tests/tKiwiIR.cpp
  repo_conan_wraps/graphviz/conanfile.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(cli): workspace build+install OK
  haxorg_conan_base/conanfile.py
  haxorg_cpp_org_cli/CMakeLists.txt
  haxorg_cpp_org_cli/cmake/haxorg_cpp_org_cli-config.cmake.in
  haxorg_cpp_org_cli/conanfile.py
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/cli_opts.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/cli_opts.hpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/diagram_ctx.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/export_ctx.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/export_ctx.hpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/haxorg_cpp_org_cli.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/make_proto_xml_mapper.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli/proto_to_xml.hpp
  haxorg_cpp_org_cli/tests.disabled/tMindMapVisual.cpp
  hstd_cpp_lib/conanfile.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

style(repo): update haxdex reader project name
  CMakeLists.txt
  conanws.py
  conanws.yml
  haxdex_read_code_cpp/CMakeLists.txt
  haxdex_read_code_cpp/conanfile.py
  haxdex_read_code_cpp/proto/haxdex_read_code_cpp/reflection_defs.proto
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/branching_include_collector.hpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/main.cpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/profdata_merger.cpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/profdata_merger.hpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/profdata_merger.sql
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_collector.cpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_collector.hpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_collector_frontend.cpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_collector_frontend.hpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_config.hpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_demangler.cpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_demangler.hpp
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_demangler.sql
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_perf.hpp
  haxdex_read_code_cpp/tests.disabled/file.hpp
  haxdex_read_code_cpp/tests.disabled/refl_test_driver.py
  haxdex_read_code_cpp/tests.disabled/test_coverall_input.cpp
  haxdex_read_code_cpp/tests.disabled/test_coverall_refl.py
  haxdex_read_code_cpp/tests.disabled/test_enum_reflection.py
  haxdex_read_code_cpp/tests.disabled/test_function_reflection.py
  haxdex_read_code_cpp/tests.disabled/test_include_reflection.py
  haxdex_read_code_cpp/tests.disabled/test_record_reflection.py
  haxdex_read_code_cpp/tests.disabled/test_reflection_algorithm.py
  haxdex_read_code_cpp/tests.disabled/test_type_reflection.py
  haxdex_read_code_cpp/tests.disabled/test_wrapper_generation.py
  justfile
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

style(repo): update py text layout wrap naming
  CMakeLists.txt
  conanws.yml
  hstd_cpp_text_layout_py_wrap/cmake/hstd_py_text_layout-config.cmake.in
  hstd_cpp_text_layout_py_wrap/conanfile.py
  hstd_cpp_text_layout_py_wrap/src/hstd_cpp_text_layout_py_wrap/py_textlayout.cpp
  hstd_py_text_layout/CMakeLists.txt
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): move cmake
  hstd_cpp_text_layout_py_wrap/CMakeLists.txt
Due: cmake-format

wip(py): initial new package structure
  haxorg_py_lib/pyproject.toml
  haxorg_py_lib/test_package/main.py
  haxorg_py_lib/test_package/pyproject.toml
  hstd_cpp_text_layout_py_wrap/conanfile.py
  hstd_py_lib/src/py_scriptutils/conan_build/__init__.py
  hstd_py_lib/src/py_scriptutils/conan_build/hatch.py
  hstd_py_lib/test_package/main.py
  hstd_py_lib/test_package/pyproject.toml
  htsd_py_text_layout/pyproject.toml
  htsd_py_text_layout/test_package/main.py
  htsd_py_text_layout/test_package/pyproject.toml
  justfile
  pyproject.toml
  repo_ci_config/py_ci/test_uv_install.py
  repo_py_orchestrate/pyproject.toml
  repo_py_orchestrate/test_package/main.py
  repo_py_orchestrate/test_package/pyproject.toml
  repo_py_validate/pyproject.toml
  repo_py_validate/test_package/main.py
  repo_py_validate/test_package/pyproject.toml
Due: isort, yapf, no-undocumented-api

fix(repo): update for clang/LLVM 23
  .fdignore
  haxdex_read_code_cpp/src/haxdex_read_code_cpp/reflection_collector.cpp
  haxdex_read_code_cpp/tests.disabled/refl_test_driver.py
  haxdex_read_code_cpp/tests.disabled/test_type_reflection.py
  haxorg_cpp_org_lib/tests/tBaseLexer.cpp
  haxorg_cpp_org_lib/tests/tOrgE2EParse.cpp
  haxorg_py_cli/pyproject.toml
  haxorg_py_cli/src/py_cli/generate/mind_map/gen_mind_map.py
  haxorg_py_cli/src/py_cli/haxorg_opts.py
  haxorg_py_cli/tests/test_cli.py
  haxorg_py_codegen/py_codegen/codegen.py
  haxorg_py_lib/pyproject.toml
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_typst.py
  haxorg_py_lib/tests/corpus/py_validated_all.org
  haxorg_py_lib/tests/test_coverall.py
  haxorg_py_lib/tests/test_simple_org_use.py
  hstd_cpp_lib/cmake/functions_setup.cmake
  hstd_py_lib/pyproject.toml
  hstd_py_lib/src/hstd_py_lib/auto_lldb.py
  hstd_py_lib/src/hstd_py_lib/repo_files.py
  hstd_py_lib/src/hstd_py_lib/test_utils_gtest.py
  hstd_py_lib/src/hstd_py_lib/toml_config_profiler.py
  justfile
  repo_ci_config/py_ci/test_uv_install.py
  repo_py_orchestrate/workflow.py
  repo_py_orchestrate/workflow_utils.py
  uv.lock
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(py): haxorg py lib test package OK
  haxorg_py_lib/pyproject.toml
  haxorg_py_lib/src/haxorg_py_lib/astbuilder/astbuilder_typst.py
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_typst.py
  haxorg_py_lib/src/haxorg_py_lib/org.py
  haxorg_py_lib/src/haxorg_py_lib/pyhaxorg_utils.py
  haxorg_py_lib/test_package/main.py
  hstd_py_lib/pyproject.toml
  hstd_py_text_layout/pyproject.toml
  hstd_py_text_layout/src/hstd_py_text_layout/base/wrap.py
  justfile
  pyproject.toml
  repo_py_orchestrate/pyproject.toml
  repo_py_validate/pyproject.toml
  uv.lock
Due: isort, yapf, no-undocumented-api

style(py): normalize python package names
  haxorg_cpp_c_wrap/CMakeLists.txt
  haxorg_cpp_org_cli/CMakeLists.txt
  haxorg_cpp_org_lib/test_package/CMakeLists.txt
  haxorg_cpp_py_wrap/CMakeLists.txt
  haxorg_py_lib/pyproject.toml
  haxorg_py_lib/src/haxorg_py_lib/astbuilder/astbuilder_typst.py
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_base.py
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_html.py
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_pandoc.py
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_sqlite.py
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_tex.py
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_typst.py
  haxorg_py_lib/src/haxorg_py_lib/exporters/export_ultraplain.py
  haxorg_py_lib/src/haxorg_py_lib/pyhaxorg_utils.py
  haxorg_py_lib/test_package/pyproject.toml
  haxorg_py_lib/tests/assets/test_sem_parser_expected.css
  haxorg_py_lib/tests/test_simple_org_use.py
  hstd_cpp_text_layout/CMakeLists.txt
  hstd_cpp_text_layout_py_wrap/CMakeLists.txt
  hstd_py_lib/pyproject.toml
  hstd_py_lib/test_package/pyproject.toml
  hstd_py_text_layout/pyproject.toml
  hstd_py_text_layout/src/hstd_py_text_layout/astbuilder/astbuilder_base.py
  hstd_py_text_layout/test_package/pyproject.toml
  repo_conan_wraps/adaptagrams/CMakeLists.txt
  repo_py_orchestrate/pyproject.toml
  repo_py_orchestrate/test_package/pyproject.toml
  repo_py_validate/pyproject.toml
  repo_py_validate/test_package/pyproject.toml
  uv.lock
Due: isort, yapf, cmake-format, no-undocumented-api

fix(py): update haxorg py lib package names
  .envrc
  haxdex_read_code_cpp/tests.disabled/test_include_reflection.py
  haxorg_cpp_py_wrap/conanfile.py
  haxorg_py_cli/src/py_cli/generate/mind_map/gen_mind_map.py
  haxorg_py_lib/pyproject.toml
  haxorg_py_lib/tests/test_coverall.py
  hstd_py_lib/pyproject.toml
  hstd_py_lib/src/hstd_py_lib/conan_build/hatch.py
  hstd_py_lib/src/hstd_py_lib/external_packages/pandas_utils.py
  repo_ci_config/py_ci/test_uv_install.py
  uv.lock
Due: isort, yapf, no-undocumented-api

feat(repo): support mixed cpp+pytest tests
  haxdex_read_code_cpp/conanfile.py
  haxdex_read_code_cpp/tests/file.hpp
  haxdex_read_code_cpp/tests/pyproject.toml
  haxdex_read_code_cpp/tests/refl_test_driver.py
  haxdex_read_code_cpp/tests/test_coverall_input.cpp
  haxdex_read_code_cpp/tests/test_coverall_refl.py
  haxdex_read_code_cpp/tests/test_enum_reflection.py
  haxdex_read_code_cpp/tests/test_function_reflection.py
  haxdex_read_code_cpp/tests/test_include_reflection.py
  haxdex_read_code_cpp/tests/test_record_reflection.py
  haxdex_read_code_cpp/tests/test_reflection_algorithm.py
  haxdex_read_code_cpp/tests/test_type_reflection.py
  haxdex_read_code_cpp/tests/test_wrapper_generation.py
  haxorg_conan_base/conanfile.py
  justfile
  pyproject.toml
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(py): optional verbose debug if haxorg import
  .envrc
  haxorg_cpp_py_wrap/CMakeLists.txt
  haxorg_cpp_py_wrap/src/haxorg_cpp_py_wrap/pyhaxorg.cpp
  haxorg_py_lib/pyproject.toml
  haxorg_py_lib/src/haxorg_py_lib/pyhaxorg_wrap.py
  repo_ci_config/py_ci/test_uv_install.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(refl): python driver for refl tests OK
  haxdex_read_code_cpp/tests/assets/coverall_input.cpp
  haxdex_read_code_cpp/tests/assets/file.hpp
  haxorg_conan_base/conanfile.py
  haxorg_py_codegen/test_wrapper_generation.py
  hstd_py_lib/pyproject.toml
  justfile
  uv.lock
Due: isort, yapf, find-debug-calls, no-undocumented-api

refactor(refl): use only protobuf types in tests
  haxdex_read_code_cpp/tests/conftest.py
  haxdex_read_code_cpp/tests/pyproject.toml
  haxdex_read_code_cpp/tests/refl_test_driver.py
  haxdex_read_code_cpp/tests/test_function_reflection.py
  haxdex_read_code_cpp/tests/test_include_reflection.py
  haxdex_read_code_cpp/tests/test_record_reflection.py
  haxdex_read_code_cpp/tests/test_type_reflection.py
  haxorg_py_codegen/py_codegen/refl_test_driver.py
  haxorg_py_codegen/test_reflection_algorithm.py
  hstd_py_lib/src/hstd_py_lib/conan_build/hatch.py
  justfile
  uv.lock
Due: isort, yapf, no-undocumented-api

fix(refl): python driver tests fix for new API
  haxdex_read_code_cpp/tests/refl_test_driver.py
  haxdex_read_code_cpp/tests/test_coverall_refl.py
  haxdex_read_code_cpp/tests/test_enum_reflection.py
  haxdex_read_code_cpp/tests/test_function_reflection.py
  haxdex_read_code_cpp/tests/test_include_reflection.py
  haxorg_conan_base/conanfile.py
  haxorg_cpp_org_cli/conanfile.py
  haxorg_py_codegen/py_codegen/tmp.scratch.py
  hstd_py_lib/src/hstd_py_lib/conan_build/hatch.py
  justfile
  pyproject.toml
  repo_ci_config/py_ci/test_uv_install.py
  tests/python/conftest.py
  uv.lock
Due: isort, yapf, no-undocumented-api

feat(refl): build protobuf as a part of package
  haxdex_read_code_cpp/tests/hatch_build.py
  haxdex_read_code_cpp/tests/proto/haxdex_read_code_cpp/__init__.py
  haxdex_read_code_cpp/tests/proto/haxdex_read_code_cpp/proto/__init__.py
  haxdex_read_code_cpp/tests/proto/haxdex_read_code_cpp/proto/google/__init__.py
  haxdex_read_code_cpp/tests/proto/haxdex_read_code_cpp/proto/google/protobuf/__init__.py
  haxdex_read_code_cpp/tests/proto/haxdex_read_code_cpp/proto/message_pool.py
  haxdex_read_code_cpp/tests/proto/haxdex_read_code_cpp/proto/py.typed
  haxdex_read_code_cpp/tests/pyproject.toml
  uv.lock
Due: isort, yapf, no-undocumented-api

fix(refl): python test driver fixes
  haxdex_read_code_cpp/conanfile.py
  haxdex_read_code_cpp/tests/test_coverall_refl.py
  haxdex_read_code_cpp/tests/test_function_reflection.py
  haxdex_read_code_cpp/tests/test_include_reflection.py
  haxdex_read_code_cpp/tests/test_record_reflection.py
  haxdex_read_code_cpp/tests/test_type_reflection.py
Due: isort, yapf, no-undocumented-api

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  yapf: any of: \.py$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  check-repo-tasks: any of: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  find-debug-calls: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  cmake-format: any of: (CMakeLists\.txt|\.cmake)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  no-undocumented-api: any of: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

