Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
    src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
    src/wrappers/js/haxorg_wasm\.cpp|
    src/wrappers/js/haxorg_wasm_types\.d\.ts|
    scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
    src/py_libs/pyhaxorg/pyhaxorg\.cpp|
    src/haxorg/serde/SemOrgProto\.proto|
    src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
    src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
    src/haxorg/exporters/Exporter\.tcc|
    src/haxorg/imm/ImmOrgSerde\.tcc|
    src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
    src/haxorg/exporters/ExporterMethods\.tcc|
    src/haxorg/sem/SemOrgEnums\.hpp|
    src/haxorg/sem/SemOrgEnums\.cpp|
    src/haxorg/sem/SemOrgSharedTypes\.hpp|
    src/haxorg/sem/SemOrgTypes\.hpp|
    src/haxorg/imm/ImmOrgTypes\.hpp
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

fix(ci): conanfile version range spec
  conanfile.py
  scripts/py_ci/py_ci/util_scripting.py
Due: isort, yapf, no-undocumented-api

fix(cxx): missing corpus runner target
  src/haxorg/test/corpusrunner.cpp
Due: find-debug-calls, no-undocumented-api

feat(refl): collect information about include tree
  scripts/cxx_codegen/branching_include_collector.hpp
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_defs.proto
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(refl): can process test file w/o crash
  scripts/cxx_codegen/branching_include_collector.hpp
Due: find-debug-calls, no-undocumented-api

feat(refl): normalize branching include paths
  scripts/cxx_codegen/branching_include_collector.hpp
  scripts/cxx_codegen/reflection_defs.proto
Due: find-debug-calls, no-undocumented-api

refactor(refl): drop "expanded with nested"
  scripts/cxx_codegen/branching_include_collector.hpp
  scripts/cxx_codegen/reflection_defs.proto
Due: find-debug-calls, no-undocumented-api

fix(refl): use skipped ranges to count used lines
  scripts/cxx_codegen/branching_include_collector.hpp
  scripts/cxx_codegen/reflection_defs.proto
Due: find-debug-calls, no-undocumented-api

feat(repo): generate branching include graph
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
Due: isort, yapf, no-undocumented-api

feat(repo): show used include line percentages
  scripts/py_repository/py_repository/code_analysis/gen_include_branching_graph.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
Due: isort, yapf, no-undocumented-api

fix(repo): show full list of nested includes
  scripts/py_repository/py_repository/code_analysis/gen_include_branching_graph.py
Due: isort, yapf, no-undocumented-api

wip(repo): checkpoint
  scripts/cxx_codegen/branching_include_collector.hpp
  scripts/py_repository/py_repository/code_analysis/gen_include_branching_graph.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(refl): add branching include tests
  scripts/cxx_codegen/branching_include_collector.hpp
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_include_reflection.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

wip(refl): more precise include path tracking
  scripts/cxx_codegen/branching_include_collector.hpp
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(refl): use process pool to speed up render
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
Due: isort, yapf, no-undocumented-api

clean(cxx): remove exceptions from opt header
  src/hstd/stdlib/JsonSerde.hpp
  src/hstd/stdlib/Opt.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): forward-declare graphviz for immorg
  src/app/org_imgui/gui_lib/im_org_ui_common.cpp
  src/haxorg/api/EvalContext.cpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrg.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): algorithm/memory in basic_templates
  .clangd
  src/hstd/stdlib/Exception.hpp
  src/hstd/system/basic_templates.cpp
  src/hstd/system/basic_templates.hpp
  src/hstd/system/reflection.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): remove Vec.hpp from Str.hpp
  scripts/cxx_repository/repo_processing.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/test/corpusrunner.cpp
  src/hstd/ext/error_write.cpp
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/logger.cpp
  src/hstd/ext/textlayouter.cpp
  src/hstd/stdlib/ColText.cpp
  src/hstd/stdlib/JsonSerde.hpp
  src/hstd/stdlib/Str.cpp
  src/hstd/stdlib/Str.hpp
  src/hstd/stdlib/Variant.hpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/stdlib/strutils.hpp
  src/hstd/system/string_convert.hpp
  tests/common.cpp
  tests/hstd/tStr.cpp
  tests/org/tErrorFormat.cpp
  tests/org/tOrgParseCorpus.cpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): remove Exceptions from Ptrs
  src/hstd/stdlib/Exception.hpp
  src/hstd/stdlib/Filesystem.hpp
  src/hstd/stdlib/Ptrs.hpp
  src/hstd/stdlib/RangeTree.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): remove <functional> from aux_utils
  src/hstd/ext/graph/base/graph_common.cpp
  src/hstd/ext/graph/base/graph_common.hpp
  src/hstd/stdlib/ColText.cpp
  src/hstd/stdlib/ColText.hpp
  src/hstd/stdlib/Filesystem.cpp
  src/hstd/stdlib/Func.hpp
  src/hstd/stdlib/TraceBase.hpp
  src/hstd/stdlib/Variant.hpp
  src/hstd/system/aux_utils.cpp
  src/hstd/system/aux_utils.hpp
  src/hstd/system/bit_utils.hpp
  src/hstd/system/macros.hpp
  src/hstd/system/ptr_utils.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): remove aux_templates from all.hpp
  src/hstd/stdlib/Array.hpp
  src/hstd/stdlib/IntSet.hpp
  src/hstd/system/all.hpp
  src/hstd/system/basic_templates.cpp
  src/hstd/system/basic_templates.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): cleanup strutils.hpp in public headers
  src/haxorg/exporters/exportersimplesexpr.hpp
  src/haxorg/lexbase/AstSpec.hpp
  src/haxorg/lexbase/Node.hpp
  src/haxorg/lexbase/Token.hpp
  src/haxorg/parse/OrgTokenizer.hpp
  src/hstd/ext/error_write.cpp
  src/hstd/ext/geometry/hstd_geometry.cpp
  src/hstd/ext/geometry/hstd_geometry.hpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/logger.hpp
  src/hstd/ext/logger_structured.hpp
  src/hstd/stdlib/ColText.hpp
  src/hstd/stdlib/Variant.hpp
  src/hstd/stdlib/diffs.hpp
  src/hstd/stdlib/dod_base.hpp
  src/hstd/stdlib/strutils.cpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): remove strutils.hpp from dod_base.hpp
  src/haxorg/lexbase/Token.hpp
  src/hstd/stdlib/dod_base.cpp
  src/hstd/stdlib/dod_base.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): remove Map.hpp from dod_base.hpp
  scripts/cxx_codegen/reflection_demangler.hpp
  scripts/cxx_repository/git_ir.hpp
  src/haxorg/imm/ImmOrg.hpp
  src/hstd/stdlib/dod_base.hpp
  src/hstd/stdlib/dod_base_intern.hpp
  src/hstd/stdlib/dod_base_multi.hpp
  tests/hstd/tDOD.cpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): move some sem id method to cpp
  src/haxorg/sem/SemOrgBase.cpp
  src/haxorg/sem/SemOrgBase.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): remove unused `asVariant`
  src/haxorg/api/SemBaseApi.cpp
  src/haxorg/sem/SemOrgApi.cpp
  src/haxorg/sem/SemOrgBase.hpp
Due: find-debug-calls, no-undocumented-api

clean(cxx): use smaller cpptrace header
  src/hstd/system/exceptions.hpp
Due: find-debug-calls, no-undocumented-api

fix(ci): tests
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
  src/hstd/stdlib/strutils.cpp
  tests/python/refl/test_include_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(cxx): initial add of simple CLI executable
  CMakeLists.txt
  src/app/org_cli/CMakeLists.txt
  src/app/org_cli/main.cpp
  src/haxorg/CMakeLists.txt
Due: find-debug-calls, cmake-format, no-undocumented-api

feat(cxx): parse CLI using reflection
  src/app/org_cli/main.cpp
Due: find-debug-calls, no-undocumented-api

feat(cli): initial test for CLI parser tool
  src/app/org_cli/CMakeLists.txt
  src/app/org_cli/main.cpp
  tests/org/tBaseLexer.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

wip(cxx): cli interface to export tokens/nodes
  src/app/org_cli/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
Due: find-debug-calls, no-undocumented-api

feat(cxx): subcommand to export tokens
  src/app/org_cli/main.cpp
  src/haxorg/lexbase/NodeIO.hpp
  src/haxorg/parse/OrgTypes.cpp
  src/haxorg/parse/OrgTypes.hpp
  src/hstd/ext/logger.cpp
  src/hstd/ext/logger.hpp
  src/hstd/system/reflection.hpp
Due: find-debug-calls, no-undocumented-api

wip(cli): c++ cli option to export protobuf
  src/app/org_cli/main.cpp
Due: find-debug-calls, no-undocumented-api

feat(cli): use argparse for CLI handling
  CMakeLists.txt
  src/app/org_cli/CMakeLists.txt
  src/app/org_cli/main.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

clean(cli): move opt strings to constexpr fields
  src/app/org_cli/CMakeLists.txt
  src/app/org_cli/main.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api
