Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
    src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
    src/wrappers/js/haxorg_wasm\.cpp|
    src/wrappers/js/haxorg_wasm_types\.d\.ts|
    scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
    src/py_libs/pyhaxorg/pyhaxorg\.cpp|
    src/haxorg/serde/SemOrgProto\.proto|
    src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
    src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
    src/haxorg/exporters/Exporter\.tcc|
    src/haxorg/imm/ImmOrgSerde\.tcc|
    src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
    src/haxorg/exporters/ExporterMethods\.tcc|
    src/haxorg/sem/SemOrgEnums\.hpp|
    src/haxorg/sem/SemOrgEnums\.cpp|
    src/haxorg/sem/SemOrgSharedTypes\.hpp|
    src/haxorg/sem/SemOrgTypes\.hpp|
    src/haxorg/imm/ImmOrgTypes\.hpp
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

wip(cli): mind map export subcommand
  src/app/org_cli/main.cpp
Due: find-debug-calls, no-undocumented-api

refactor(cli): use subcommands
  src/app/org_cli/main.cpp
Due: find-debug-calls, no-undocumented-api

feat(repo): test CLI as a part of conan install
  CMakeLists.txt
  README.org
  conanfile.py
  scripts/py_haxorg/pyproject.toml
  src/app/org_cli/main.cpp
  tests/vendor/conan_test_package/conanfile.py
  tests/vendor/conan_test_package/doc1.org
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(ci): verify CLI and UV examples
  .github/scripts/uv_example_main.py
  .github/workflows/readme_run_cli.yaml
  .github/workflows/readme_run_lib.yaml
  README.org
  result.json
  src/haxorg/api/ParseContext.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(ci): fix uv buil
  .github/workflows/readme_run_lib.yaml
  justfile
Due: none

fix(ci): ci
  .github/workflows/readme_run_lib.yaml
Due: none

fix(ci): ci
  conanfile.py
Due: isort, yapf, no-undocumented-api

feat(repo): test parse/lex on external docs
  .clangd
  justfile
  pyproject.toml
  src/app/org_cli/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/hstd/stdlib/dod_base.hpp
  uv.lock
Due: find-debug-calls, no-undocumented-api

fix(lex): use unicode advance
  scripts/py_codegen/py_codegen/org_codegen_data.py
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/lexbase/TokenStore.hpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemConvert.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(org): startup configuration for links
  .pre-commit-config.yaml
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/exporters/Exporter.tcc
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgSerde.tcc
  src/haxorg/imm/ImmOrgStore.cpp
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/lexbase/Node.cpp
  src/haxorg/lexbase/NodeAdapter.hpp
  src/haxorg/lexbase/NodeStore.hpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemOrgEnums.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/sem/SemOrgTypes.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/haxorg/serde/SemOrgSerde.hpp
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_impl.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/corpus/document_structures/assorted_bugs.yaml
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(hstd): use dod ID for the report sources
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
  src/haxorg/lexbase/SourceManager.cpp
  src/hstd/ext/error_write.cpp
  src/hstd/ext/error_write.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  tests/org/tErrorFormat.cpp
Due: find-debug-calls, no-undocumented-api

wip(hstd): updating reports for new ids
  src/hstd/ext/error_write.cpp
  src/hstd/ext/error_write.hpp
  tests/org/tErrorFormat.cpp
Due: find-debug-calls, no-undocumented-api

wip(hstd): updating report for new id
  src/haxorg/api/ParseContext.cpp
  src/haxorg/lexbase/SourceManager.hpp
  tests/org/tErrorFormat.cpp
Due: find-debug-calls, no-undocumented-api

wip(hstd): checkpoint
  src/haxorg/lexbase/Errors.hpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/lexbase/SourceManager.hpp
  src/haxorg/lexbase/Token.hpp
  src/haxorg/parse/OrgParserTypes.hpp
  tests/org/tErrorFormat.cpp
Due: find-debug-calls, no-undocumented-api

refactor(hstd): update codegen for report types
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/lexbase/Lexer.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: find-debug-calls, no-undocumented-api

refactor(gen): use serde provider for py defaults
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/lexbase/NodeIO.hpp
  src/haxorg/lexbase/SourceManager.hpp
  src/haxorg/sem/SemOrgSharedTypes.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/hstd/system/basic_templates.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

refactor(cli): uplift error printing to main.cpp
  src/app/org_cli/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
Due: find-debug-calls, no-undocumented-api

fix(sem): allow narrowing attr conversion
  src/app/org_cli/main.cpp
  src/haxorg/lexbase/NodeAdapter.hpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemConvert.hpp
  src/hstd/stdlib/IntSet.hpp
Due: find-debug-calls, no-undocumented-api

fix(parse): handle quoted values in attrs
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemConvert.cpp
  src/hstd/stdlib/Str.cpp
  src/hstd/stdlib/Str.hpp
Due: find-debug-calls, no-undocumented-api

feat(org): more detailed lisp code ast
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/exporters/Exporter.tcc
  src/haxorg/exporters/ExporterMethods.tcc
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/sem/SemOrgFormat.cpp
  src/haxorg/sem/SemOrgSharedTypes.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/haxorg/serde/SemOrgSerdeDeclarations.hpp
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(parse): checkpoint
  src/haxorg/parse/OrgParser.cpp
Due: find-debug-calls, no-undocumented-api

fix(parse): implement convert for new lisp list
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemConvert.cpp
Due: find-debug-calls, no-undocumented-api

fix(parse): non-list lisp values in attrs
  src/haxorg/parse/OrgParser.cpp
Due: find-debug-calls, no-undocumented-api

feat(org): shared type for time values
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/exporters/Exporter.tcc
  src/haxorg/exporters/ExporterMethods.tcc
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/sem/SemOrgFormat.cpp
  src/haxorg/sem/SemOrgFormat.hpp
  src/haxorg/sem/SemOrgSharedApi.cpp
  src/haxorg/sem/SemOrgSharedTypes.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/haxorg/serde/SemOrgSerdeDeclarations.hpp
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(parse): startup block visibility
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/exporters/Exporter.tcc
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgSerde.tcc
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemOrgEnums.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/sem/SemOrgTypes.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_impl.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(parse): more validation for report code range
  src/haxorg/api/ParseContext.cpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/hstd/ext/error_write.cpp
  src/hstd/ext/error_write.hpp
Due: find-debug-calls, no-undocumented-api

fix(lex): remove post-process mutation of tokens
  src/haxorg/base_lexer/base_token_tokenize.cpp
Due: find-debug-calls, no-undocumented-api

refactor(lex): put character-base position in tok
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/hstd/ext/error_write.cpp
Due: find-debug-calls, no-undocumented-api

feat(lex): token type for double dollar
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/api/ParseContext.cpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(lex): handle inline latex syntax tokens
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

refactor(parse): put location getter into lexer
  src/app/org_cli/main.cpp
  src/app/org_imgui/gui_test/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgParserReport.cpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/haxorg/sem/SemConvertUtils.cpp
  src/haxorg/sem/perfetto_org.hpp
Due: find-debug-calls, no-undocumented-api

fix(sem): handle invalid hash tags for sem err
  src/haxorg/api/ParseContext.cpp
  src/haxorg/sem/SemConvert.cpp
Due: find-debug-calls, no-undocumented-api

fix(parse): update unguarded prints in parser
  justfile
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/base_lexer/base_token_tokenize.hpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/haxorg/sem/SemConvert.cpp
  src/hstd/stdlib/TraceBase.hpp
Due: find-debug-calls, no-undocumented-api

fix(hstd): optimize default value domain ord
  justfile
  src/haxorg/api/ParseContext.cpp
  src/hstd/system/reflection.hpp
Due: find-debug-calls, no-undocumented-api

fix(parse): map unexpected block close to error
  src/haxorg/base_lexer/base_token.cpp
  src/haxorg/base_lexer/base_token.hpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/haxorg/sem/SemConvert.cpp
Due: find-debug-calls, no-undocumented-api

fix(parse): don't propagate every error token
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgParserTypes.hpp
  src/haxorg/parse/OrgParserUtils.cpp
Due: find-debug-calls, no-undocumented-api

fix(parse): close table cell on line end
  src/haxorg/lexbase/AstSpec.hpp
  src/haxorg/lexbase/Node.cpp
  src/haxorg/lexbase/NodeStore.hpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemConvert.hpp
Due: find-debug-calls, no-undocumented-api

fix(sem): use real location for diagnostics
  src/haxorg/api/ParseContext.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemConvert.cpp
  src/hstd/ext/error_write.cpp
Due: find-debug-calls, no-undocumented-api

clean(org): move error tables into parser/convert
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemConvert.hpp
Due: find-debug-calls, no-undocumented-api

wip(repo): fixing tracy integration
  src/hstd/ext/perfetto_aux.hpp
Due: find-debug-calls, no-undocumented-api
