Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

isort:
  name: isort
  entry: uv run --dev isort
  language: system

yapf:
  name: yapf
  entry: uv run --dev yapf -i
  language: system

check-repo-tasks:
  name: check-repo-tasks
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
  language: system

find-debug-calls:
  name: Find debug calls
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
  language: system

cmake-format:
  name: cmake-format
  entry: cmake-format -i
  language: system

no-undocumented-api:
  name: Prevent undocumented Python/C++ functions/classes (whole file)
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  language: system
  pass_filenames: true

test(codegen): utilities to test nim/py wrappers
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nim.py
  scripts/py_codegen/py_codegen/codegen_iteration_macros.py
  scripts/py_codegen/py_codegen/refl_wrapper_graph.py
  scripts/py_codegen/py_codegen/tu_collector.py
  scripts/py_codegen/py_codegen/wrapper_gen_nim.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_wrapper_generation.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

test(codegen): add basic test for func wrap
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_wrapper_generation.py
Due: isort, yapf, no-undocumented-api

test(codegen): use cast in tests
  tests/python/refl/test_wrapper_generation.py
Due: isort, yapf, no-undocumented-api

test(codegen): more code generation coverage
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_scriptutils/py_scriptutils/algorithm.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_wrapper_generation.py
Due: isort, yapf, no-undocumented-api

fix(ci): run develop CI locally
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/py_codegen/wrapper_gen_nim.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
  scripts/py_repository/py_repository/repo_docgen/gen_coverage.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_wrapper_generation.py
Due: isort, yapf, no-undocumented-api

refactor(codegen): make return type non-optional
  .fdignore
  .pre-commit-config.yaml
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/sem/SemOrgSharedTypes.hpp
  src/haxorg/sem/SemOrgTypes.hpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

refactor(repo): drop docker support in workflow
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/command_execution.py
  scripts/py_repository/py_repository/repo_tasks/common.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_base.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  scripts/py_repository/py_repository/repo_tasks/workflow_utils.py
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, no-undocumented-api

feat(codegen): freeform function attributes
  CMakeLists.txt
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nim_config.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/refl_read.py
  src/wrappers/c/CMakeLists.txt
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.cpp
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_lib.cpp
  src/wrappers/c/haxorg_c_lib.h
  src/wrappers/c/haxorg_c_utils.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

fix(codegen): drop constructor definition return
  justfile
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

feat(codegen): destructor and vtable for C wrap
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nim_config.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

refactor(build): migrate to LLVM 22
  scripts/cxx_codegen/main.cpp
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_collector.hpp
  scripts/cxx_codegen/reflection_collector_frontend.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
Due: find-debug-calls, no-undocumented-api

wip(codegen): C wrapper type generation
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nim_config.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/exporters/Exporter.tcc
  src/haxorg/exporters/ExporterMethods.tcc
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgSerde.tcc
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/serde/SemOrgSerdeDeclarations.hpp
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/js/haxorg_wasm.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): reuse sem enums in imm ast
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/imm/ImmOrgTypes.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): expose nested types for C wrappers
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgSerde.tcc
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/serde/SemOrgSerdeDeclarations.hpp
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): forward declare vtable in c wrap
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(refl): expose missing path step typedef
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/imm/ImmOrg.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(refl): register injected templates
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_defs.proto
  scripts/py_codegen/py_codegen/refl_extract.py
  scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_record_reflection.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

feat(refl): extract template parameters
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_defs.proto
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_record_reflection.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

feat(repo): ast-grep to unify code style
  .pre-commit-config.yaml
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/ast_grep_replace_cr_with_const_ref.yaml
  scripts/py_repository/py_repository/repo_hooks/sgconfig.yaml
Due: none

test(refl): verify template extraction
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/ast_grep_replace_cr_with_const_ref.yaml
  src/app/org_imgui/gui_app/main.cpp
  src/app/org_imgui/gui_lib/story_grid.hpp
  src/haxorg/api/SemBaseApi.hpp
  src/haxorg/lexbase/AstSpec.hpp
  src/haxorg/sem/SemOrgBase.hpp
  src/haxorg/test/NodeTest.hpp
  src/haxorg/test/corpusrunner.cpp
  src/haxorg/test/corpusrunner.hpp
  src/haxorg/test/org_parse_aux.hpp
  src/hstd/stdlib/Str.hpp
  src/hstd/stdlib/diffs.cpp
  src/hstd/stdlib/diffs.hpp
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_record_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(org): use `tocExport` field in options
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/exporters/Exporter.tcc
  src/haxorg/lexbase/AstSpec.hpp
  src/haxorg/sem/SemOrgSharedTypes.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(cxx): c wrapper core initial impl
  scripts/py_codegen/py_codegen/codegen_c.py
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): expose methods for c wrappers
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  src/haxorg/imm/ImmOrgBase.hpp
  src/hstd/system/basic_typedefs.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

fix(cxx): partial fix of the cxx build
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  src/haxorg/imm/ImmOrgEdit.hpp
  src/haxorg/lexbase/NodeIO.hpp
  src/haxorg/test/NodeTest.hpp
  src/haxorg/test/corpusrunner.cpp
  src/haxorg/test/corpusrunner.hpp
  src/hstd/system/basic_typedefs.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(cxx): can compile C wrappers
  scripts/py_codegen/py_codegen/codegen_c.py
  src/wrappers/c/CMakeLists.txt
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/c/haxorg_c_vtables_manual.hpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(codegen): expose constructors in c wrappers
  CMakeLists.txt
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/CMakeLists.txt
  src/haxorg/api/ParseContext.hpp
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/lexbase/SourceManager.hpp
  src/haxorg/sem/SemOrgSharedTypes.hpp
  src/haxorg/sem/SemOrgTypes.hpp
  src/hstd/stdlib/Formatter.hpp
  src/hstd/stdlib/OptFormatter.hpp
  src/hstd/stdlib/Slice.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.cpp
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables_manual.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/tOrgCApi.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(codegen): generate vtable specializations
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  src/wrappers/c/CMakeLists.txt
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.cpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(codegen): make method parent class mandatory
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): verify struct-parent match
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

fix(codegen): use return type for method wrap
  scripts/py_codegen/py_codegen/codegen_c.py
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(codegen): build c wrapper vtable code
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/codegen_c.py
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables_manual.hpp
  tests/org/tOrgCApi.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): trivial C wrapper test OK
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/astbuilder/astbuilder_base.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/sem/SemOrgTypes.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/c/haxorg_c_vtables_manual.cpp
  src/wrappers/c/haxorg_c_vtables_manual.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): C wrappers pass context to destroy
  scripts/py_codegen/py_codegen/codegen_c.py
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.cpp
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables_manual.cpp
  src/wrappers/c/haxorg_c_vtables_manual.hpp
  tests/org/tOrgCApi.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): substitute template parameters
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  src/haxorg/imm/ImmOrgBase.hpp
  src/haxorg/sem/SemOrgBase.hpp
  src/hstd/ext/error_write.hpp
  src/hstd/stdlib/BackwardsIndex.hpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/c/haxorg_c_vtables_manual.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): add template params to qual name
  .fdignore
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/haxorg/sem/SemOrgBase.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.cpp
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

feat(codegen): use free functions for methods
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_scriptutils/py_scriptutils/script_logging.py
  src/haxorg/sem/SemOrgBase.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.cpp
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/c/haxorg_c_vtables_manual.hpp
  src/wrappers/js/haxorg_wasm.cpp
  tests/org/tOrgCApi.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(refl): expose hstd::Str for reflection
  src/hstd/stdlib/Str.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
Due: find-debug-calls, no-undocumented-api

refactor(codegen): split gen logic into files
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  scripts/py_codegen/py_codegen/codegen_wrapper_embind.py
  scripts/py_codegen/py_codegen/codegen_wrapper_nanobind.py
Due: isort, yapf, no-undocumented-api

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  yapf: any of: \.py$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  check-repo-tasks: any of: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  find-debug-calls: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  cmake-format: any of: (CMakeLists\.txt|\.cmake)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  no-undocumented-api: any of: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

