Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

isort:
  name: isort
  entry: uv run --dev isort
  language: system

yapf:
  name: yapf
  entry: uv run --dev yapf -i
  language: system

check-repo-tasks:
  name: check-repo-tasks
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
  language: system

find-debug-calls:
  name: Find debug calls
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
  language: system

cmake-format:
  name: cmake-format
  entry: cmake-format -i
  language: system

no-undocumented-api:
  name: Prevent undocumented Python/C++ functions/classes (whole file)
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  language: system
  pass_filenames: true

feat(mmap): allow ports to have multiple edges
  src/hstd/ext/graph/graph_base.cpp
  src/hstd/ext/graph/graph_base.hpp
  src/hstd/stdlib/Ranges.hpp
  src/hstd/stdlib/Vec.hpp
  tests/hstd/graph/tGraphBase.cpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): struct to auto-segment edge on cross
  src/hstd/ext/bimap_wrap.hpp
  src/hstd/ext/graph/graph_base.cpp
  src/hstd/ext/graph/graph_base.hpp
  tests/hstd/graph/tGraphBase.cpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): partial build fix for haxorg target
  src/haxorg/api/EvalContext.cpp
  src/haxorg/api/SemBaseApi.hpp
  src/haxorg/base_lexer/base_token.hpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/lexbase/Token.hpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/hstd/ext/astdiff.hpp
  src/hstd/ext/graph/graph_graphviz.hpp
  src/hstd/stdlib/dod_base.hpp
  tests/org/tOrgTestCommon.hpp
Due: find-debug-calls, no-undocumented-api

fix(mmap): haxorg target builds and links
  src/haxorg/imm/ImmOrgGraphBoost.cpp
  src/haxorg/imm/ImmOrgGraphBoost.hpp
  tests/org/tBaseLexer.cpp
  tests/org/tImmAst.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

fix(hstd): use-after-free for the scoped sink
  src/hstd/ext/graph/graph_cola.hpp
  src/hstd/ext/graph/graph_graphviz.hpp
  src/hstd/ext/log_graph_tracker.cpp
  src/hstd/ext/log_graph_tracker.hpp
  src/hstd/ext/logger.cpp
  src/hstd/ext/logger.hpp
  tests/hstd/tLogger.cpp
Due: find-debug-calls, no-undocumented-api

fix(test): cxx tests 258/259 ok
  src/hstd/ext/graph/graph_base_full_layout.cpp
  src/hstd/ext/graph/graph_cola.cpp
  src/hstd/ext/graph/graph_graphviz.hpp
  src/hstd/ext/graph/graph_visual.hpp
  src/hstd/ext/log_graph_tracker.cpp
  tests/hstd/graph/tGraphVisualGraphviz.cpp
  tests/hstd/tLogger.cpp
Due: find-debug-calls, no-undocumented-api

chore(mmap): split imm ast "is/get" into own file
  src/haxorg/imm/ImmGetterApi.cpp
  src/haxorg/imm/ImmGetterApi.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  tests/org/tImmMindMap.cpp
  tests/org/tOrgTestCommon.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): put edge collection masking in class
  src/app/org_diagram/src/model/graph/DiaGraph.cpp
  src/app/org_diagram/src/model/graph/DiaGraph.hpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/graph_base.cpp
  src/hstd/ext/graph/graph_base.hpp
  src/hstd/stdlib/dod_base.hpp
  src/hstd/system/aux_templates.hpp
  src/hstd/system/aux_utils.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): rewriting imm org graph for IGraph
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/graph_base.cpp
  src/hstd/ext/graph/graph_base.hpp
  src/hstd/stdlib/Ranges.hpp
  src/hstd/stdlib/Set.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): updating imm org graph -> graphviz
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/graph_visual.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): igraph migration checkpoint
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/graph_base.hpp
  src/hstd/ext/graph/graph_graphviz.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): remove boost adapter for mind map
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/imm/ImmOrgGraphBoost.cpp
  src/haxorg/imm/ImmOrgGraphBoost.hpp
  tests/org/tOrgTestCommon.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): igraph migration for org mmap
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/graph_base.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  tests/hstd/graph/tGraphBase.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): update reflection codegen
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  src/haxorg/imm/ImmOrgGraph.cpp
  src/hstd/ext/graph/graph_base.hpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: find-debug-calls, no-undocumented-api

fix(mmap): fix mmap and tests build
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/tBaseLexer.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

style(mmap): move some visual methods to cpp file
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/graph_base.cpp
  src/hstd/ext/graph/graph_base.hpp
  src/hstd/ext/graph/graph_base_full_layout.cpp
  src/hstd/ext/graph/graph_graphviz.cpp
  src/hstd/ext/graph/graph_visual.cpp
  src/hstd/ext/graph/graph_visual.hpp
  tests/hstd/graph/tGraphVisualAdaptagramsIR.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): checkpoint
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/graph_base.cpp
  src/hstd/ext/graph/graph_base.hpp
  src/hstd/ext/graph/graph_visual.cpp
  tests/org/tBaseLexer.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): AddNodeWithLinks passes
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/graph_base.hpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

feat(hstd): types for structured scope logging
  src/hstd/stdlib/TraceBaseStructuredLog.cpp
  src/hstd/stdlib/TraceBaseStructuredLog.hpp
Due: find-debug-calls, no-undocumented-api

wip(hstd): use google json tracing in op tracer
  src/haxorg/api/EvalContext.cpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrgEdit.cpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgStore.cpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/hstd/ext/graph/graph_avoid.cpp
  src/hstd/ext/graph/graph_base_full_layout.cpp
  src/hstd/ext/graph/graph_cola.cpp
  src/hstd/ext/graph/graph_elk.cpp
  src/hstd/ext/graph/graph_graphviz.cpp
  src/hstd/stdlib/Map.hpp
  src/hstd/stdlib/Set.hpp
  src/hstd/stdlib/TraceBase.cpp
  src/hstd/stdlib/TraceBase.hpp
  src/hstd/stdlib/TraceBaseStructuredLog.cpp
  src/hstd/stdlib/TraceBaseStructuredLog.hpp
  src/hstd/stdlib/Variant.hpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

wip(hstd): imgui viewer for structured logs
  CMakeLists.txt
  src/app/log_viewer/CMakeLists.txt
  src/app/org_imgui/CMakeLists.txt
  src/hstd/stdlib/TraceBaseStructuredLog.cpp
  src/hstd/stdlib/TraceBaseStructuredLog.hpp
Due: find-debug-calls, cmake-format, no-undocumented-api

wip(debug): tracing log viewer wip
  CMakeLists.txt
  src/app/log_viewer/CMakeLists.txt
  src/app/log_viewer/main.cpp
  src/app/log_viewer/trace_log_viewer.cpp
  src/app/log_viewer/trace_log_viewer.hpp
Due: find-debug-calls, cmake-format, no-undocumented-api

feat(debug): initial log viewer impl OK
  CMakeLists.txt
  src/app/log_viewer/CMakeLists.txt
  src/app/log_viewer/main.cpp
  src/app/log_viewer/trace_log_viewer.cpp
  src/app/log_viewer/trace_log_viewer.hpp
  src/app/org_imgui/CMakeLists.txt
Due: find-debug-calls, cmake-format, no-undocumented-api

feat(debug): start event log expanded and indent
  src/app/log_viewer/trace_log_viewer.cpp
Due: find-debug-calls, no-undocumented-api

test(mmap): use more general API for imm mmap test
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

test(mmap): mind map collection tests pass fully
  src/haxorg/imm/ImmOrg.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

feat(org): more readable default tree repr
  justfile
  src/app/org_diagram/src/utils/common.hpp
  src/haxorg/imm/ImmGetterApi.hpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  tests/org/tImmMindMap.cpp
  tests/org/tOrgTestCommon.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): end to end test on larger mind map
  .envrc
  src/haxorg/api/SemBaseApi.cpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/lexbase/Token.hpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/test/corpusrunner.cpp
  src/hstd/ext/graph/graph_base.cpp
  src/hstd/ext/graph/graph_base.hpp
  src/hstd/stdlib/TraceBase.hpp
  tests/org/tBaseLexer.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

fix(mmap): check for trace state in mmap logger
  src/haxorg/imm/ImmOrgGraph.cpp
Due: find-debug-calls, no-undocumented-api

wip(org): remove msgpack support
  CMakeLists.txt
  src/haxorg/CMakeLists.txt
  src/haxorg/serde/SemOrgCereal.cpp
  src/haxorg/serde/SemOrgCereal.hpp
  src/hstd/ext/graph/graph_graphviz.hpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_impl.cpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_impl.hpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_refl.cpp
  src/wrappers/c/haxorg_c_utils.hpp
  tests/org/tBaseLexer.cpp
  tests/org/tOrgE2EParse.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

fix(org): update code generation for msgpack rm
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_refl.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/tOrgE2EParse.cpp
Due: find-debug-calls, no-undocumented-api

chore(mmap): split graph files into directories
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/graph/base/graph_base.cpp
  src/hstd/ext/graph/base/graph_base.hpp
  src/hstd/ext/graph/visual/adaptagrams_common.cpp
  src/hstd/ext/graph/visual/adaptagrams_common.hpp
  src/hstd/ext/graph/visual/graph_avoid.cpp
  src/hstd/ext/graph/visual/graph_avoid.hpp
  src/hstd/ext/graph/visual/graph_base_full_layout.cpp
  src/hstd/ext/graph/visual/graph_cola.cpp
  src/hstd/ext/graph/visual/graph_cola.hpp
  src/hstd/ext/graph/visual/graph_dialect.cpp
  src/hstd/ext/graph/visual/graph_dialect.hpp
  src/hstd/ext/graph/visual/graph_elk.cpp
  src/hstd/ext/graph/visual/graph_elk.hpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/graph/visual/graph_visual.cpp
  src/hstd/ext/graph/visual/graph_visual.hpp
  src/hstd/ext/graph/visual/graph_vpsc.cpp
  src/hstd/ext/graph/visual/graph_vpsc.hpp
  src/hstd/ext/log_graph_tracker.cpp
  src/hstd/ext/log_graph_tracker.hpp
  src/hstd/stdlib/TraceBase.hpp
  tests/hstd/t_graph_tests_common.hpp
Due: find-debug-calls, no-undocumented-api

refactor(repo): streamline cmake graph visual
  CMakeLists.txt
  src/hstd/CMakeLists.txt
  src/hstd/ext/graph/base/graph_base.proto
Due: cmake-format

refactor(mmap): remove py adaptagrams wrappers
  .fdignore
  .pre-commit-config.yaml
  CMakeLists.txt
  scripts/py_cli/py_cli/generate/story_grid.py
  scripts/py_codegen/py_codegen/codegen_wrapper_nanobind.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  scripts/py_wrappers/py_wrappers/__init__.py
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  scripts/py_wrappers/py_wrappers/py_adaptagrams_test_utils.py
  scripts/py_wrappers/py_wrappers/py_adaptagrams_wrap.py
  src/adaptagrams/CMakeLists.txt
  src/adaptagrams/adaptagrams_ir.cpp
  src/adaptagrams/adaptagrams_ir.hpp
  src/haxorg/CMakeLists.txt
  src/py_libs/py_adaptagrams/adaptagrams_ir_refl_target.cpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  tests/python/test_adaptagrams.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

fix(hstd): use protoc exe in the file generation
  CMakeLists.txt
  src/haxorg/CMakeLists.txt
  src/hstd/CMakeLists.txt
  tests/hstd/t_graph_tests_common.hpp
Due: find-debug-calls, cmake-format, no-undocumented-api

wip(mmap): adding proto serialization to igraph
  src/hstd/CMakeLists.txt
  src/hstd/ext/graph/base/graph_base.hpp
  src/hstd/ext/graph/base/graph_base.proto
Due: find-debug-calls, cmake-format, no-undocumented-api

chore(mmap): split graph header/source into files
  src/hstd/ext/graph/base/graph_attribute.cpp
  src/hstd/ext/graph/base/graph_attribute.hpp
  src/hstd/ext/graph/base/graph_base.cpp
  src/hstd/ext/graph/base/graph_base.hpp
  src/hstd/ext/graph/base/graph_common.cpp
  src/hstd/ext/graph/base/graph_common.hpp
  src/hstd/ext/graph/base/graph_edge.cpp
  src/hstd/ext/graph/base/graph_edge.hpp
  src/hstd/ext/graph/base/graph_hierarchy.cpp
  src/hstd/ext/graph/base/graph_hierarchy.hpp
  src/hstd/ext/graph/base/graph_port.cpp
  src/hstd/ext/graph/base/graph_port.hpp
  src/hstd/ext/graph/base/graph_vertex.cpp
  src/hstd/ext/graph/base/graph_vertex.hpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): initial serialization methods
  src/cmake/functions_setup.cmake
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/CMakeLists.txt
  src/hstd/ext/graph/base/graph_attribute.hpp
  src/hstd/ext/graph/base/graph_base.cpp
  src/hstd/ext/graph/base/graph_common.cpp
  src/hstd/ext/graph/base/graph_edge.cpp
  src/hstd/ext/graph/base/graph_edge.hpp
  src/hstd/ext/graph/base/graph_port.cpp
  src/hstd/ext/graph/visual/graph_avoid.hpp
  src/hstd/ext/graph/visual/graph_cola.hpp
  src/hstd/ext/graph/visual/graph_elk.hpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/graph/visual/graph_visual.hpp
Due: find-debug-calls, cmake-format, no-undocumented-api

feat(mmap): mind map graph serialization
  src/hstd/ext/graph/base/graph_base.cpp
  src/hstd/ext/graph/base/graph_base.hpp
  src/hstd/ext/graph/base/graph_edge.cpp
  src/hstd/ext/graph/base/graph_edge.hpp
  src/hstd/ext/graph/base/graph_hierarchy.cpp
  src/hstd/ext/graph/base/graph_hierarchy.hpp
  tests/org/tBaseLexer.cpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): remove reflection for igraph
  CMakeLists.txt
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  src/haxorg/CMakeLists.txt
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/imm/ImmOrgGraph.proto
  src/hstd/CMakeLists.txt
  src/hstd/ext/graph/base/graph_vertex.cpp
  src/hstd/ext/graph/base/graph_vertex.hpp
  src/hstd/ext/graph/jni_elk/include/elk_jni_wrapper.hpp
  src/hstd/ext/graph/jni_elk/src/elk_jni_wrapper.cpp
  src/hstd/ext/graph/visual/graph_elk.cpp
  src/hstd/ext/graph/visual/graph_elk.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/tImmMindMap.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  yapf: any of: \.py$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  check-repo-tasks: any of: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  find-debug-calls: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  cmake-format: any of: (CMakeLists\.txt|\.cmake)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  no-undocumented-api: any of: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

