Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
    src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
    src/wrappers/js/haxorg_wasm\.cpp|
    src/wrappers/js/haxorg_wasm_types\.d\.ts|
    scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
    src/py_libs/pyhaxorg/pyhaxorg\.cpp|
    src/haxorg/serde/SemOrgProto\.proto|
    src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
    src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
    src/haxorg/exporters/Exporter\.tcc|
    src/haxorg/imm/ImmOrgSerde\.tcc|
    src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
    src/haxorg/exporters/ExporterMethods\.tcc|
    src/haxorg/sem/SemOrgEnums\.hpp|
    src/haxorg/sem/SemOrgEnums\.cpp|
    src/haxorg/sem/SemOrgSharedTypes\.hpp|
    src/haxorg/sem/SemOrgTypes\.hpp|
    src/haxorg/imm/ImmOrgTypes\.hpp
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

test(mmap): validate twopi rank separation
  src/hstd/ext/geometry/hstd_geometry_test_ir.cpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.proto
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  tests/hstd/graph/diagram_tests/gv_twopi_layers.json
Due: find-debug-calls, no-undocumented-api

test(mmap): porting mixed graph payout to json
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_diagram_validate.cpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/visual_factory.cpp
  tests/hstd/graph/diagram_tests/mixed_complex.json
Due: find-debug-calls, no-undocumented-api

fix(mmap): add parent group ID to kiwi edges
  src/hstd/ext/geometry/hstd_visual_serde.cpp
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/visual_factory.cpp
  src/hstd/ext/hstd_serde.cpp
Due: find-debug-calls, no-undocumented-api

feat(hstd): generalized protobuf utils for unpack
  src/hstd/ext/graph/visual/visual_factory.hpp
  src/hstd/ext/hstd_serde.hpp
  src/hstd/ext/hstd_serde_dispatch.hpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): use serde accessors in factory
  src/hstd/ext/graph/visual/visual_factory.cpp
  src/hstd/ext/graph/visual/visual_factory.hpp
  src/hstd/ext/hstd_serde_dispatch.hpp
Due: find-debug-calls, no-undocumented-api

style(mmap): reduce `using namespace` in diagram
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/visual_factory.hpp
  src/hstd/ext/hstd_serde.hpp
  src/hstd/ext/hstd_serde_dispatch.hpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): use new protobuf reader API
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/visual_factory.hpp
  src/hstd/ext/hstd_serde_dispatch.hpp
Due: find-debug-calls, no-undocumented-api

fix(mmap): can load and layout mixed graph test
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/visual_factory.cpp
  src/hstd/ext/graph/visual/visual_factory.hpp
  src/hstd/ext/hstd_serde_dispatch.hpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): update kiwi IR for serde support
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/geometry/kiwi_ir.proto
  src/hstd/ext/geometry/kiwi_ir_serde.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  tests/hstd/graph/diagram_tests/mixed_complex.json
Due: find-debug-calls, no-undocumented-api

refactor(mmap): use oneof for the KIWI IR exprs
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/geometry/kiwi_ir.proto
  src/hstd/ext/geometry/kiwi_ir_serde.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/visual_factory.cpp
  tests/hstd/graph/diagram_tests/mixed_complex.json
Due: find-debug-calls, no-undocumented-api

refactor(mmap): add common context for kiwi
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/geometry/kiwi_ir_serde.cpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  tests/hstd/graph/diagram_tests/kiwi_linear.json
  tests/hstd/tKiwiIR.cpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): move constraints to vertex top-level
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/graph/base/graph_base.cpp
  src/hstd/ext/graph/base/graph_base.proto
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/graph_visual.cpp
  src/hstd/ext/graph/visual/graph_visual.hpp
  src/hstd/ext/graph/visual/graph_visual.proto
  src/hstd/ext/graph/visual/visual_factory.cpp
  tests/hstd/graph/diagram_tests/kiwi_linear.json
  tests/hstd/graph/tGraphVisualKiwi.cpp
  tests/hstd/graph/tGraphVisualMixed.cpp
  tests/hstd/tKiwiIR.cpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): use shared ptr for kiwi rects
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  tests/hstd/graph/diagram_tests/kiwi_linear.json
  tests/hstd/tKiwiIR.cpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): support even gap constraint for kiwi
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/visual_factory.cpp
  src/hstd/ext/graph/visual/visual_factory.hpp
  tests/hstd/graph/diagram_tests/kiwi_even_gap.json
Due: find-debug-calls, no-undocumented-api

style(mmap): use hstd exceptions in diagram
  src/app/org_cli/cli_opts.cpp
  src/app/org_cli/cli_opts.hpp
  src/app/org_cli/common_ctx.cpp
  src/app/org_cli/export_ctx.cpp
  src/app/org_cli/export_ctx.hpp
  src/app/org_cli/haxorg_cpp_org_cli.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/imm/ImmOrgGraph.proto
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemConvert.hpp
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/hstd_serde.hpp
Due: find-debug-calls, no-undocumented-api

wip(repo): test fixes
  scripts/py_cli/py_cli/haxorg_opts.py
  scripts/py_repository/py_repository/repo_tasks/binary_size_report.json
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_develop_ci.json
  scripts/py_repository/py_repository/repo_tasks/haxorg_coverage.py
  src/haxorg/imm/ImmOrg.cpp
  tests/python/conftest.py
  tests/python/test_cli.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

wip(hstd): error formatting test fixes
  src/hstd/ext/error_write.cpp
  src/hstd/stdlib/strutils.cpp
  tests/org/tErrorFormat.cpp
Due: find-debug-calls, no-undocumented-api

wip(repo): test fixes
  justfile
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  src/app/org_imgui/CMakeLists.txt
  src/haxorg/base_lexer/base_token.cpp
  src/haxorg/base_lexer/base_token.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/lexbase/NodeIO.hpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParserReport.cpp
  src/haxorg/parse/OrgParserTypes.hpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/haxorg/parse/OrgTokenizerReport.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemConvertUtils.cpp
  src/haxorg/test/corpusrunner.cpp
  src/haxorg/test/org_parse_aux.hpp
  src/hstd/stdlib/Str.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  tests/org/tBaseLexer.cpp
  tests/org/tOrgASTDiff.cpp
  tests/org/tOrgParser.cpp
Due: check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): test fixes
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  tests/hstd/graph/tGraphVisualGraphviz.cpp
Due: check-repo-tasks, find-debug-calls, no-undocumented-api

fix(repo): test fixes
  scripts/py_haxorg/py_haxorg/exporters/export_typst.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  src/app/org_cli/parse_ctx.cpp
  src/app/org_cli/parse_ctx.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/lexbase/TokenStore.hpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemOrgFormat.cpp
  src/haxorg/test/corpusrunner.cpp
  tests/org/corpus/document_structures/assorted_bugs.yaml
  tests/org/corpus/document_structures/list.yaml
  tests/org/corpus/document_structures/paragraph.yaml
  tests/org/corpus/document_structures/subtree.yaml
  tests/org/corpus/markup/text.yaml
  tests/org/corpus/org/py_validated_all.org
  tests/org/corpus/text_structures/hashtag.yaml
  tests/python/test_cli.py
  tests/python/test_simple_org_use.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

wip(repo): test fixes
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  tests/org/corpus/org/py_validated_all.org
  tests/org/tErrorFormat.cpp
  tests/python/repo/test_code_forensics.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

fix(repo): ci build fixes
  CMakeLists.txt
  conanfile.py
  src/cmake/functions_setup.cmake
  src/haxorg/imm/ImmOrgGraph.hpp
  src/hstd/ext/error_write_proto.cpp
  src/hstd/ext/geometry/hstd_geometry.hpp
  src/hstd/ext/geometry/kiwi_ir_serde.cpp
  src/hstd/ext/geometry/kiwi_ir_serde.hpp
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.hpp
  src/hstd/ext/graph/visual/graph_visual.cpp
  src/hstd/ext/graph/visual/graph_visual.hpp
  src/hstd/ext/graph/visual/visual_factory.cpp
  src/hstd/ext/graph/visual/visual_factory.hpp
  src/hstd/ext/hstd_serde_dispatch.hpp
  src/hstd/ext/hstd_serde_json_interop.hpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): initial conan package for hstd
  haxdex_cpp_refl_read/tests/file.hpp
  haxdex_cpp_refl_read/tests/test_coverall_input.cpp
  haxdex_cpp_refl_read/tests/test_coverall_refl.py
  haxdex_cpp_refl_read/tests/test_reflection_algorithm.py
  haxdex_cpp_refl_read/tests/test_type_reflection.py
  haxdex_cpp_refl_read/tests/test_wrapper_generation.py
  haxorg_cpp_org_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/functions_aux.cmake
  hstd_cpp/hstd_lib/functions_setup.cmake
  hstd_diagram/CMakeLists.txt
  justfile
  repo_py_validate/prepare_commit_message.py
  tests/python/test_execution_tracker.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): package protovalidate schema
  conanws.py
  conanws.yaml
  haxorg_cpp_org_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/functions_setup.cmake
  repo_conan_wraps/protovalidate-cc/conandata.yaml
  repo_conan_wraps/protovalidate-cc/conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

feat(repo): package protovalidate as conan dep
  haxorg_cpp_org_lib/conanfile.py
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/functions_aux.cmake
  hstd_cpp/hstd_lib/test_package/CMakeLists.txt
  hstd_cpp/hstd_lib/test_package/conanfile.py
  hstd_cpp/hstd_lib/test_package/hstd_test_package_main.cpp
  justfile
  repo_conan_wraps/protovalidate-cc/conandata.yml
  repo_conan_wraps/protovalidate-cc/conanfile.py
  repo_tool_configs/conan/conan_default_profile.ini
  repo_tool_configs/conan/conanprofile.txt
  repo_tool_configs/conan/conanprofile_emcc.txt
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): fix protovalidate cmake target file
  conanws.yml
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/conanfile.py
  justfile
  repo_conan_wraps/protovalidate-cc/conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

wip(repo): update glob paths on hstd
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/functions_aux.cmake
  hstd_cpp/hstd_lib/functions_setup.cmake
  justfile
Due: isort, yapf, cmake-format, no-undocumented-api

wip(repo): properly attach hstd proto defs
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/proto_defs/hstd_lib/error_write.proto
  hstd_cpp/hstd_lib/proto_defs/hstd_lib/graph_base.proto
  hstd_cpp/hstd_lib/proto_defs/hstd_lib/hstd_geometry.proto
  hstd_cpp/hstd_lib/proto_defs/hstd_lib/hstd_geometry_test_ir.proto
  hstd_cpp/hstd_lib/proto_defs/hstd_lib/hstd_visual.proto
  repo_conan_wraps/protovalidate-cc/conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

wip(repo): remove some third-party submodules
  .gitmodules
Due: none

feat(repo): use gersemi for cmake formatting
  .gersemirc
  .pre-commit-config.yaml
  haxorg_c_lib_wrap/src/CMakeLists.txt
  haxorg_cpp_org_lib/CMakeLists.txt
  haxorg_cpp_org_lib/src/CMakeLists.txt
  haxorg_py_lib_wrap/CMakeLists.txt
  haxorg_wasm_lib_wrap/src/CMakeLists.txt
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/functions_aux.cmake
  hstd_cpp/hstd_lib/functions_setup.cmake
  hstd_diagram/CMakeLists.txt
  hstd_diagram/src/jni_elk/CMakeLists.txt
  pyproject.toml
  repo_conan_wraps/adaptagrams/CMakeLists.txt
  repo_conan_wraps/adaptagrams/Config.cmake.in
  repo_conan_wraps/adaptagrams/cola_autoconf_config.h
  thirdparty/cmake_wrap/adaptagrams/CMakeLists.txt
  thirdparty/cmake_wrap/boost_preprocessor/CMakeLists.txt
  thirdparty/cmake_wrap/describe/CMakeLists.txt
  thirdparty/cmake_wrap/perfetto/CMakeLists.txt
  uv.lock
Due: find-debug-calls, cmake-format, no-undocumented-api

feat(repo): use ruff for formatting
  .commit-wip.md
  .pre-commit-config.yaml
  pyproject.toml
  repo_py_validate/safe_yapf_format.py
Due: isort, yapf, no-undocumented-api

wip(repo): supress conan warnings
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/functions_aux.cmake
  hstd_cpp/hstd_lib/functions_setup.cmake
Due: isort, yapf, cmake-format, no-undocumented-api
