Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

isort:
  name: isort
  entry: uv run --dev isort
  language: system

yapf:
  name: yapf
  entry: uv run --dev yapf -i
  language: system

check-repo-tasks:
  name: check-repo-tasks
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
  language: system

find-debug-calls:
  name: Find debug calls
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
  language: system

cmake-format:
  name: cmake-format
  entry: cmake-format -i
  language: system

no-undocumented-api:
  name: Prevent undocumented Python/C++ functions/classes (whole file)
  entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  language: system
  pass_filenames: true

feat(repo): expose warning supression flag
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/functions_aux.cmake
  hstd_cpp/hstd_lib/functions_setup.cmake
  justfile
  repo_conan_wraps/.gitignore
  repo_tool_configs/clang_suppressions.supp
Due: isort, yapf, cmake-format, no-undocumented-api

wip(repo): compilation of the hstd in conan ok
  haxdex_cpp_refl_read/src/reflection_perf.hpp
  haxorg_cpp_org_lib/src/sem/perfetto_org.hpp
  haxorg_cpp_org_lib/tests/t_common_main.cpp
  hstd_cpp/hstd_lib/functions_setup.cmake
  hstd_cpp/hstd_lib/hstd/graph/graph_base.hpp
  hstd_cpp/hstd_lib/hstd/logger/perfetto_aux.cpp
  hstd_cpp/hstd_lib/hstd/logger/perfetto_aux.hpp
  hstd_cpp/hstd_lib/hstd/logger/perfetto_aux_impl_template.hpp
  hstd_cpp/hstd_lib/hstd/stdlib/algorithms/diff/astdiff.hpp
  hstd_cpp/hstd_lib/hstd/system/reflection.hpp
  hstd_cpp/hstd_lib/tests/tGraphTracker.cpp
  hstd_cpp/hstd_lib/tests/t_graph_tests_common.hpp
  hstd_cpp/hstd_lib/tests/t_hstd_main.cpp
  hstd_diagram/src/graph_visual.hpp
  hstd_diagram/src/tmp.cpp
  justfile
  tests/testprofiler.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

feat(repo): build, test OK for conan hstd
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/hstd/extra/error_format/gtest_utils.cpp
  hstd_cpp/hstd_lib/hstd/extra/error_format/gtest_utils.hpp
  hstd_cpp/hstd_lib/hstd/graph/graph_base.cpp
  hstd_cpp/hstd_lib/hstd/logger/TraceBase.cpp
  hstd_cpp/hstd_lib/hstd/logger/log_graph_tracker.cpp
  hstd_cpp/hstd_lib/hstd/stdlib/RangeSegmentation.cpp
  hstd_cpp/hstd_lib/hstd/stdlib/algorithms/strutils.cpp
  hstd_cpp/hstd_lib/hstd/stdlib/containers/VariantSerde.hpp
  hstd_cpp/hstd_lib/hstd/stdlib/containers/Vec.hpp
  hstd_cpp/hstd_lib/hstd/stdlib/formatting/ColText.cpp
  hstd_cpp/hstd_lib/hstd/system/string_convert.hpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(repo): conan create full OK for hstd target
  conanws.yml
  hstd_cpp/hstd_lib/CMakeLists.txt
  hstd_cpp/hstd_lib/conanfile.py
  hstd_cpp/hstd_lib/test_package/CMakeLists.txt
  hstd_cpp/hstd_lib/test_package/hstd_test_package_main.cpp
  repo_conan_wraps/protovalidate-cc/conanfile.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

fix(repo): re-add removed haxorg CLI code
  .directory
  haxorg_cpp_org_cli/CMakeLists.txt
  haxorg_cpp_org_cli/cli_opts.cpp
  haxorg_cpp_org_cli/cli_opts.hpp
  haxorg_cpp_org_cli/common_ctx.cpp
  haxorg_cpp_org_cli/common_ctx.hpp
  haxorg_cpp_org_cli/diagram_ctx.cpp
  haxorg_cpp_org_cli/diagram_ctx.hpp
  haxorg_cpp_org_cli/export_ctx.cpp
  haxorg_cpp_org_cli/export_ctx.hpp
  haxorg_cpp_org_cli/haxorg_cpp_org_cli.cpp
  haxorg_cpp_org_cli/make_proto_xml_mapper.cpp
  haxorg_cpp_org_cli/parse_ctx.cpp
  haxorg_cpp_org_cli/parse_ctx.hpp
  haxorg_cpp_org_cli/proto_to_xml.cpp
  haxorg_cpp_org_cli/proto_to_xml.hpp
Due: find-debug-calls, cmake-format, no-undocumented-api

fix(repo): add missing cxx refl reader back
  haxdex_cpp_refl_read/src/CMakeLists.txt
  haxorg_cpp_org_cli/CMakeLists.txt
Due: cmake-format

feat(repo): initial add of conan for more parts
  haxdex_cpp_refl_read/CMakeLists.txt
  haxdex_cpp_refl_read/cmake/HaxdexCppReflReadConfig.cmake.in
  haxdex_cpp_refl_read/conanfile.py
  haxdex_cpp_refl_read/src/CMakeLists.txt
  haxorg_c_lib_wrap/CMakeLists.txt
  haxorg_c_lib_wrap/cmake/HaxorgCHaxorgConfig.cmake.in
  haxorg_c_lib_wrap/conanfile.py
  haxorg_c_lib_wrap/src/CMakeLists.txt
  haxorg_cpp_org_cli/CMakeLists.txt
  haxorg_cpp_org_cli/cmake/HaxorgCppOrgCliConfig.cmake.in
  haxorg_cpp_org_cli/conanfile.py
  haxorg_cpp_org_lib/CMakeLists.txt
  haxorg_cpp_org_lib/cmake/HaxorgCppOrgLibConfig.cmake.in
  haxorg_cpp_org_lib/conanfile.py
  haxorg_cpp_org_lib/src/CMakeLists.txt
  haxorg_py_lib_wrap/CMakeLists.txt
  haxorg_py_lib_wrap/cmake/HaxorgPyHaxorgConfig.cmake.in
  haxorg_py_lib_wrap/conanfile.py
  hstd_cpp_text_layout/CMakeLists.txt
  hstd_cpp_text_layout/cmake/HstdCppTextLayoutConfig.cmake.in
  hstd_cpp_text_layout/conanfile.py
  hstd_py_text_layout/CMakeLists.txt
  hstd_py_text_layout/cmake/HstdPyTextLayoutConfig.cmake.in
  hstd_py_text_layout/py_textlayout.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): conan/cmake updates
  conanws.yml
  haxdex_cpp_refl_read/conanfile.py
  haxorg_cpp_org_cli/conanfile.py
  haxorg_cpp_org_lib/conanfile.py
  haxorg_py_lib_wrap/conanfile.py
  hstd_cpp_text_layout/conanfile.py
  hstd_py_text_layout/conanfile.py
  justfile
Due: isort, yapf, no-undocumented-api

fix(hstd): validate updated conan package hstd
  hstd_cpp_lib/CMakeLists.txt
  hstd_cpp_lib/test_package/conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

feat(hstd): can validate text layouter
  .gersemirc
  hstd_cpp_lib/CMakeLists.txt
  hstd_cpp_lib/cmake/functions_aux.cmake
  hstd_cpp_lib/cmake/functions_setup.cmake
  hstd_cpp_lib/conanfile.py
  hstd_cpp_text_layout/CMakeLists.txt
  hstd_cpp_text_layout/conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

feat(hstd): text layout package test OK
  .pre-commit-config.yaml
  hstd_cpp_text_layout/CMakeLists.txt
  hstd_cpp_text_layout/conanfile.py
  hstd_cpp_text_layout/src/hstd_cpp_text_layout/textlayouter.cpp
  hstd_cpp_text_layout/src/hstd_cpp_text_layout/textlayouter.hpp
  hstd_cpp_text_layout/test_package/CMakeLists.txt
  hstd_cpp_text_layout/test_package/conanfile.py
  hstd_cpp_text_layout/test_package/test_package.cpp
  hstd_cpp_text_layout/tests/tTextLayouter.cpp
  hstd_py_text_layout/conanfile.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(org): haxorg conan package checkpoint
  haxorg_cpp_org_lib/CMakeLists.txt
  haxorg_cpp_org_lib/conanfile.py
  haxorg_cpp_org_lib/proto/haxorg_cpp_org_lib/ImmOrgGraph.proto
  haxorg_cpp_org_lib/proto/haxorg_cpp_org_lib/OrgApiProto.proto
  haxorg_cpp_org_lib/proto/haxorg_cpp_org_lib/SemOrgProto.proto
  haxorg_cpp_org_lib/proto/haxorg_cpp_org_lib/SemOrgProtoManual.proto
  haxorg_cpp_org_lib/src/CMakeLists.txt
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/lexbase/SourceManager.hpp
  haxorg_py_codegen/py_codegen/codegen.py
  hstd_cpp_lib/CMakeLists.txt
  hstd_cpp_lib/cmake/hstd_cpp_lib_proto.cmake
  hstd_cpp_lib/conanfile.py
  justfile
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

fix(org): wip checkpoint for link fixes
  haxorg_cpp_org_cli/CMakeLists.txt
  haxorg_cpp_org_cli/src/make_proto_xml_mapper.cpp
  haxorg_cpp_org_lib/CMakeLists.txt
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/api/EvalContext.cpp
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/api/SemBaseApi.cpp
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/exporters/exportersimplesexpr.hpp
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/imm/ImmOrg.cpp
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/imm/ImmOrgBase.cpp
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/imm/graph/ImmOrgGraph.cpp
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/sem/SemOrgFormat.hpp
  haxorg_cpp_org_lib/src/haxorg_cpp_org_lib/test_utils/corpusrunner.cpp
  hstd_cpp_diagram/CMakeLists.txt
  hstd_cpp_diagram/src/avoid/graph_avoid.proto
  hstd_cpp_diagram/src/elk/graph_elk.cpp
  hstd_cpp_diagram/src/elk/graph_elk.proto
  hstd_cpp_diagram/src/graph_visual.cpp
  hstd_cpp_diagram/src/graph_visual.hpp
  hstd_cpp_diagram/src/graph_visual.proto
  hstd_cpp_diagram/src/graphviz/graph_graphviz.hpp
  hstd_cpp_diagram/src/graphviz/graph_graphviz.proto
  hstd_cpp_diagram/src/high_ir/graph_diagram.hpp
  hstd_cpp_diagram/src/high_ir/graph_diagram.proto
  hstd_cpp_diagram/src/high_ir/graph_diagram_validate.proto
  hstd_cpp_diagram/src/kiwi/graph_kiwi.hpp
  hstd_cpp_diagram/src/kiwi/graph_kiwi.proto
  hstd_cpp_diagram/src/kiwi/kiwi_ir.hpp
  hstd_cpp_diagram/src/visual_factory.hpp
  hstd_cpp_lib/src/hstd_cpp_lib/geometry/hstd_geometry_serde.hpp
  hstd_cpp_lib/src/hstd_cpp_lib/geometry/hstd_geometry_test_ir.hpp
  hstd_cpp_lib/src/hstd_cpp_lib/geometry/hstd_visual_serde.hpp
  hstd_py_text_layout/py_textlayout.cpp
  justfile
Due: find-debug-calls, cmake-format, no-undocumented-api

refactor(hstd): remove protobuf ifdef on diagram
  haxorg_cpp_org_cli/conanfile.py
  hstd_cpp_diagram/src/avoid/graph_avoid.hpp
  hstd_cpp_diagram/src/elk/graph_elk.cpp
  hstd_cpp_diagram/src/elk/graph_elk.hpp
  hstd_cpp_diagram/src/graph_visual.cpp
  hstd_cpp_diagram/src/graph_visual.hpp
  hstd_cpp_diagram/src/graphviz/graph_graphviz.cpp
  hstd_cpp_diagram/src/graphviz/graph_graphviz.hpp
  hstd_cpp_diagram/src/high_ir/graph_diagram.cpp
  hstd_cpp_diagram/src/high_ir/graph_diagram.hpp
  hstd_cpp_diagram/src/high_ir/graph_diagram_validate.cpp
  hstd_cpp_diagram/src/high_ir/graph_diagram_validate.hpp
  hstd_cpp_diagram/src/kiwi/graph_kiwi.cpp
  hstd_cpp_diagram/src/kiwi/graph_kiwi.hpp
  hstd_cpp_diagram/src/kiwi/kiwi_ir.hpp
  hstd_cpp_diagram/src/kiwi/kiwi_ir_serde.cpp
  hstd_cpp_diagram/src/kiwi/kiwi_ir_serde.hpp
  hstd_cpp_diagram/src/tmp.hpp
  hstd_cpp_diagram/src/visual_factory.cpp
  hstd_cpp_diagram/src/visual_factory.hpp
  hstd_cpp_lib/CMakeLists.txt
  hstd_cpp_lib/cmake/functions_setup.cmake
  hstd_cpp_lib/conanfile.py
  justfile
  repo_py_orchestrate/haxorg_base.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

fix(hstd): translate cmake defines to targets
  hstd_cpp_lib/cmake/functions_setup.cmake
Due: cmake-format

fix(org): conan create for library runs tests
  haxorg_cpp_org_lib/conanfile.py
  hstd_cpp_lib/src/hstd_cpp_lib/extra/error_format/error_write_proto.hpp
  hstd_cpp_lib/src/hstd_cpp_lib/graph/graph_base.cpp
  hstd_cpp_lib/src/hstd_cpp_lib/logger/perfetto_aux.hpp
  hstd_cpp_lib/tests/t_hstd_main.cpp
  repo_conan_wraps/protovalidate-cc/conanfile.py
  repo_tool_configs/clang_suppressions.supp
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(repo): cleanup cmake.in file names
  HaxorgConfig.cmake.in
  haxdex_cpp_refl_read/CMakeLists.txt
  haxdex_cpp_refl_read/cmake/HaxdexCppReflReadConfig.cmake.in
  haxdex_cpp_refl_read/cmake/haxdex_cpp_refl_read_config.cmake.in
  haxorg_c_lib_wrap/CMakeLists.txt
  haxorg_c_lib_wrap/cmake/haxorg_c_haxorg_config.cmake.in
  haxorg_c_lib_wrap/src/CMakeLists.txt
  haxorg_cpp_org_cli/CMakeLists.txt
  haxorg_cpp_org_cli/cmake/HaxorgCppOrgCliConfig.cmake.in
  haxorg_cpp_org_cli/cmake/haxorg_cpp_org_cli_config.cmake.in
  haxorg_cpp_org_lib/CMakeLists.txt
  haxorg_cpp_org_lib/cmake/haxorg_cpp_org_lib_config.cmake.in
  haxorg_cpp_org_lib/conanfile.py
  haxorg_cpp_org_lib/test_package/CMakeLists.txt
  haxorg_cpp_org_lib/test_package/conanfile.py
  haxorg_cpp_org_lib/test_package/main.cpp
  haxorg_cpp_org_lib/tests/tImmAst.cpp
  haxorg_cpp_org_lib/tests/tImmMindMap.cpp
  haxorg_cpp_org_lib/tests/tOrgParser.cpp
  haxorg_py_lib_wrap/CMakeLists.txt
  haxorg_py_lib_wrap/cmake/HaxorgPyHaxorgConfig.cmake.in
  haxorg_py_lib_wrap/cmake/haxorg_py_haxorg_config.cmake.in
  haxorg_py_lib_wrap/conanfile.py
  hstd_cpp_text_layout/CMakeLists.txt
  hstd_cpp_text_layout/cmake/hstd_cpp_textlayout_config.cmake.in
  hstd_py_text_layout/CMakeLists.txt
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): unifying names for cmake files
  haxdex_cpp_refl_read/CMakeLists.txt
  haxorg_c_lib_wrap/CMakeLists.txt
  haxorg_cpp_org_lib/cmake/haxorg_cpp_org_lib_config.cmake.in
  haxorg_py_lib_wrap/CMakeLists.txt
  hstd_cpp_text_layout/CMakeLists.txt
  hstd_cpp_text_layout/cmake/hstd_cpp_text_layout_config.cmake.in
  hstd_py_text_layout/CMakeLists.txt
  hstd_py_text_layout/cmake/HstdPyTextLayoutConfig.cmake.in
Due: cmake-format

wip(org): org cpp lib test package
  haxorg_cpp_org_lib/cmake/haxorg_cpp_org_lib_config.cmake.in
  haxorg_cpp_org_lib/test_package/CMakeLists.txt
  haxorg_cpp_org_lib/test_package/hstd_test_package_main.cpp
  hstd_cpp_text_layout/cmake/hstd_cpp_text_layout_config.cmake.in
Due: find-debug-calls, cmake-format, no-undocumented-api

feat(org): haxorg cxx lib package OK
  haxorg_cpp_org_lib/test_package/CMakeLists.txt
  haxorg_cpp_org_lib/test_package/hstd_test_package_main.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

wip(hstd): expose define configs for hstd_cpp
  hstd_cpp_lib/CMakeLists.txt
  hstd_cpp_lib/cmake/functions_setup.cmake
  hstd_cpp_lib/conanfile.py
  hstd_cpp_lib/src/hstd_cpp_lib/extra/error_format/error_write_proto.hpp
  hstd_cpp_lib/src/hstd_cpp_lib/logger/perfetto_aux.hpp
  hstd_cpp_lib/src/hstd_cpp_lib/proto_serde/hstd_serde.hpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

fix(org): pass the conan options transitively
  haxorg_cpp_org_lib/conanfile.py
Due: isort, yapf, no-undocumented-api

feat(repo): initial add of adaptagrams conan
  .gitmodules
  repo_conan_wraps/adaptagrams/CMakeLists.txt
  repo_conan_wraps/adaptagrams/Config.cmake.in
  repo_conan_wraps/adaptagrams/cola_config.h.in
  repo_conan_wraps/adaptagrams/conanfile.py
  repo_conan_wraps/adaptagrams/test_package/CMakeLists.txt
  repo_conan_wraps/adaptagrams/test_package/conanfile.py
  repo_conan_wraps/adaptagrams/test_package/test_avoid.cpp
  repo_conan_wraps/adaptagrams/test_package/test_cola.cpp
  repo_conan_wraps/adaptagrams/test_package/test_dialect.cpp
  repo_conan_wraps/adaptagrams/test_package/test_topology.cpp
  repo_conan_wraps/adaptagrams/test_package/test_vpsc.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(repo): validate adaptagrams conan wrap
  justfile
  repo_conan_wraps/adaptagrams/CMakeLists.txt
  repo_conan_wraps/adaptagrams/test_package/CMakeLists.txt
Due: cmake-format

feat(mmap): wrap cgraph package
  repo_conan_wraps/cgraph/CMakeLists.txt
  repo_conan_wraps/cgraph/conandata.yml
  repo_conan_wraps/cgraph/conanfile.py
  repo_conan_wraps/cgraph/test_package/CMakeLists.txt
  repo_conan_wraps/cgraph/test_package/conanfile.py
  repo_conan_wraps/cgraph/test_package/test_package.c
Due: isort, yapf, cmake-format, no-undocumented-api

feat(repo): add conan package for kiwi solver
  conanws.yml
  hstd_cpp_diagram_lib/conanfile.py
  repo_conan_wraps/kiwi/CMakeLists.txt
  repo_conan_wraps/kiwi/conanfile.py
  repo_conan_wraps/kiwi/test_package/CMakeLists.txt
  repo_conan_wraps/kiwi/test_package/conanfile.py
  repo_conan_wraps/kiwi/test_package/test.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(mmap): lift jni_elk to the diagram top
  conanws.yml
  hstd_cpp_diagram_lib/CMakeLists.txt
  hstd_cpp_diagram_lib/conanfile.py
  hstd_cpp_diagram_lib/jni_elk/.gitignore
  hstd_cpp_diagram_lib/jni_elk/CMakeLists.txt
  hstd_cpp_diagram_lib/jni_elk/build.gradle
  hstd_cpp_diagram_lib/jni_elk/include/elk_jni_wrapper.hpp
  hstd_cpp_diagram_lib/jni_elk/src/elk_jni_wrapper.cpp
  hstd_cpp_diagram_lib/jni_elk/src/main/java/com/example/elk/ElkLayoutWrapper.java
  justfile
  repo_conan_wraps/graphviz/CMakeLists.txt
  repo_conan_wraps/graphviz/conandata.yml
  repo_conan_wraps/graphviz/conanfile.py
  repo_conan_wraps/graphviz/test_package/CMakeLists.txt
  repo_conan_wraps/graphviz/test_package/conanfile.py
  repo_conan_wraps/graphviz/test_package/test_package.c
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

refactor(mmap): use cgraph's own cmake
  conanws.yml
  justfile
  repo_conan_wraps/cgraph/conandata.yml
  repo_conan_wraps/cgraph/conanfile.py
  repo_conan_wraps/cgraph/test_package/CMakeLists.txt
  repo_conan_wraps/cgraph/test_package/conanfile.py
  repo_conan_wraps/cgraph/test_package/test_package.c
  repo_conan_wraps/graphviz/CMakeLists.txt
  repo_conan_wraps/graphviz/conanfile.py
  repo_conan_wraps/kiwi/conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

wip(diag): package finding OK
  .pre-commit-config.yaml
  hstd_cpp_diagram_lib/CMakeLists.txt
  hstd_cpp_diagram_lib/conanfile.py
  hstd_cpp_diagram_lib/proto/hstd_cpp_diagram_lib/graph_avoid.proto
  hstd_cpp_diagram_lib/proto/hstd_cpp_diagram_lib/graph_diagram.proto
  hstd_cpp_diagram_lib/proto/hstd_cpp_diagram_lib/graph_diagram_validate.proto
  hstd_cpp_diagram_lib/proto/hstd_cpp_diagram_lib/graph_elk.proto
  hstd_cpp_diagram_lib/proto/hstd_cpp_diagram_lib/graph_graphviz.proto
  hstd_cpp_diagram_lib/proto/hstd_cpp_diagram_lib/graph_kiwi.proto
  hstd_cpp_diagram_lib/proto/hstd_cpp_diagram_lib/graph_visual.proto
  hstd_cpp_diagram_lib/proto/hstd_cpp_diagram_lib/kiwi_ir.proto
  justfile
  repo_conan_wraps/adaptagrams/CMakeLists.txt
  repo_conan_wraps/adaptagrams/Config.cmake.in
  repo_conan_wraps/adaptagrams/adaptagrams-config.cmake.in
  repo_conan_wraps/adaptagrams/conanfile.py
  repo_conan_wraps/adaptagrams/test_package/CMakeLists.txt
  repo_py_validate/validate_commit_message.py
Due: isort, yapf, cmake-format, no-undocumented-api

wip(diag): build fixes
  conanws.yml
  haxdex_cpp_refl_read/src/reflection_demangler.cpp
  haxdex_cpp_refl_read/src/reflection_perf.hpp
  haxorg_cpp_org_cli/src/common_ctx.cpp
  haxorg_cpp_org_cli/src/export_ctx.cpp
  haxorg_cpp_org_cli/src/haxorg_cpp_org_cli.cpp
  haxorg_py_lib_wrap/src/pyhaxorg_manual_impl.cpp
  hstd_cpp_diagram_lib/CMakeLists.txt
  hstd_cpp_diagram_lib/conanfile.py
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/graph_visual.hpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/graphviz/graph_graphviz.cpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/graphviz/graph_graphviz.hpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/high_ir/graph_diagram_validate.cpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/high_ir/graph_diagram_validate.hpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/kiwi/graph_kiwi.cpp
  hstd_cpp_diagram_lib/test_package/main.cpp
  hstd_cpp_diagram_lib/tests/tDiagramTestsCommon.hpp
  hstd_cpp_diagram_lib/tests/tGraphVisualKiwi.cpp
  hstd_cpp_lib/src/hstd_cpp_lib/extra/error_format/gtest_utils.hpp
  hstd_cpp_lib/tests/t_graph_tests_common.hpp
  justfile
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(repo): describe graphviz components
  hstd_cpp_diagram_lib/CMakeLists.txt
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/avoid/graph_avoid.hpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/elk/graph_elk.cpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/graphviz/graph_graphviz.hpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/kiwi/graph_kiwi.hpp
  hstd_cpp_diagram_lib/src/hstd_cpp_diagram_lib/visual_factory.cpp
  hstd_cpp_diagram_lib/tests/tKiwiIR.cpp
  repo_conan_wraps/graphviz/conandata.yml
  repo_conan_wraps/graphviz/conanfile.py
  repo_conan_wraps/graphviz/test_package/CMakeLists.txt
  repo_conan_wraps/graphviz/test_package/conanfile.py
  repo_conan_wraps/graphviz/test_package/test_package.c
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  yapf: any of: \.py$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  check-repo-tasks: any of: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  find-debug-calls: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  cmake-format: any of: (CMakeLists\.txt|\.cmake)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

  no-undocumented-api: any of: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$, but not: (?x)^(
  scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
  src/wrappers/js/haxorg_wasm\.cpp|
  src/wrappers/js/haxorg_wasm_types\.d\.ts|
  scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
  src/py_libs/pyhaxorg/pyhaxorg\.cpp|
  src/haxorg/serde/SemOrgProto\.proto|
  src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
  src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
  src/haxorg/exporters/Exporter\.tcc|
  src/haxorg/imm/ImmOrgSerde\.tcc|
  src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
  src/haxorg/exporters/ExporterMethods\.tcc|
  src/haxorg/sem/SemOrgEnums\.hpp|
  src/haxorg/sem/SemOrgEnums\.cpp|
  src/haxorg/sem/SemOrgSharedTypes\.hpp|
  src/haxorg/sem/SemOrgTypes\.hpp|
  src/haxorg/imm/ImmOrgTypes\.hpp
)$

