Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
    src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
    src/wrappers/js/haxorg_wasm\.cpp|
    src/wrappers/js/haxorg_wasm_types\.d\.ts|
    scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
    src/py_libs/pyhaxorg/pyhaxorg\.cpp|
    src/haxorg/serde/SemOrgProto\.proto|
    src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
    src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
    src/haxorg/exporters/Exporter\.tcc|
    src/haxorg/imm/ImmOrgSerde\.tcc|
    src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
    src/haxorg/exporters/ExporterMethods\.tcc|
    src/haxorg/sem/SemOrgEnums\.hpp|
    src/haxorg/sem/SemOrgEnums\.cpp|
    src/haxorg/sem/SemOrgSharedTypes\.hpp|
    src/haxorg/sem/SemOrgTypes\.hpp|
    src/haxorg/imm/ImmOrgTypes\.hpp
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

fix(mmap): consistent relative constraint args
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  tests/hstd/graph/tGraphVisualKiwi.cpp
  tests/hstd/tKiwiIR.cpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): configure even gap rect anchor
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  tests/hstd/tKiwiIR.cpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): graph linear constraints
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  tests/hstd/graph/tGraphVisualKiwi.cpp
  tests/hstd/t_graph_tests_common.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): fixing mixed layout tests
  src/hstd/ext/geometry/hstd_geometry_test.cpp
  src/hstd/ext/geometry/hstd_geometry_test.hpp
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_visual.cpp
  tests/hstd/graph/tGraphVisualKiwi.cpp
  tests/hstd/graph/tGraphVisualMixed.cpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): group separate constraint args
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_visual.cpp
  src/hstd/stdlib/Ranges.hpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/stdlib/strutils.hpp
  tests/hstd/tKiwiIR.cpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): show x/y axes separately on graphviz
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): more detailed constraint fail repr
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/geometry/kiwi_ir_repr.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/graph/visual/graph_visual.cpp
  src/hstd/stdlib/strutils.cpp
Due: find-debug-calls, no-undocumented-api

test(mmap): update kiwi IR tests to 100% green
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir_repr.cpp
  tests/hstd/graph/tGraphVisualKiwi.cpp
  tests/hstd/graph/tGraphVisualMixed.cpp
  tests/hstd/tKiwiIR.cpp
Due: find-debug-calls, no-undocumented-api

test(mmap): extend coverage for mixed test graph
  tests/hstd/graph/tGraphVisualMixed.cpp
Due: find-debug-calls, no-undocumented-api

refactor(ex): remove graph-user examples
  scripts/cxx_repository/code_forensics.cpp
  scripts/cxx_repository/repo_graph.cpp
  scripts/cxx_repository/repo_graph.hpp
  src/app/org_imgui/gui_app/main.cpp
  src/app/org_imgui/gui_lib/block_graph.cpp
  src/app/org_imgui/gui_lib/block_graph.hpp
  src/app/org_imgui/gui_lib/doc_editor.cpp
  src/app/org_imgui/gui_lib/doc_editor.hpp
  src/app/org_imgui/gui_lib/im_org_ui_common.cpp
  src/app/org_imgui/gui_lib/node_grid_graph.cpp
  src/app/org_imgui/gui_lib/node_grid_graph.hpp
  src/app/org_imgui/gui_lib/story_grid.cpp
  src/app/org_imgui/gui_lib/story_grid.hpp
  src/app/org_imgui/gui_lib/story_grid_tree.cpp
  src/app/org_imgui/gui_test/t_register_all.cpp
  src/app/org_imgui/gui_test/t_story_grid.cpp
  src/hstd/stdlib/dod_base.hpp
Due: find-debug-calls, no-undocumented-api

feat(hstd): re-add eager ast diff from dia tree
  src/haxorg/sem/SemAstDiff.hpp
  src/hstd/ext/astdiff/astdiff.cpp
  src/hstd/ext/astdiff/astdiff.hpp
  src/hstd/ext/astdiff/astdiff_eager.cpp
  src/hstd/ext/astdiff/astdiff_eager.hpp
  src/hstd/ext/astdiff/common.cpp
  src/hstd/ext/astdiff/common.hpp
  tests/hstd/tASTDiff.cpp
  tests/org/tOrgASTDiff.cpp
  tests/org/tOrgTestCommon.hpp
Due: find-debug-calls, no-undocumented-api

fix(repo): update and run source code generation
  scripts/cxx_codegen/reflection_collector_frontend.cpp
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  src/haxorg/sem/SemOrgBaseSharedTypes.cpp
  src/haxorg/sem/SemOrgBaseSharedTypes.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/hstd/ext/graph/base/graph_common.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(hstd): protobuf serialize for basic geometry
  src/haxorg/serde/SemOrgSerde.hpp
  src/hstd/CMakeLists.txt
  src/hstd/ext/geometry/hstd_geometry.proto
  src/hstd/ext/geometry/hstd_geometry_serde.cpp
  src/hstd/ext/geometry/hstd_geometry_serde.hpp
  src/hstd/ext/geometry/hstd_visual.proto
  src/hstd/ext/geometry/hstd_visual_serde.cpp
  src/hstd/ext/geometry/hstd_visual_serde.hpp
  src/hstd/ext/graph/visual/graph_avoid.hpp
  src/hstd/ext/graph/visual/graph_avoid.proto
  src/hstd/ext/hstd_serde.cpp
  src/hstd/ext/hstd_serde.hpp
  tests/python/conf_gtest.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(mmap): elk and avoid protobuf description
  src/hstd/CMakeLists.txt
  src/hstd/ext/graph/visual/graph_avoid.hpp
  src/hstd/ext/graph/visual/graph_avoid.proto
  src/hstd/ext/graph/visual/graph_elk.cpp
  src/hstd/ext/graph/visual/graph_elk.hpp
  src/hstd/ext/graph/visual/graph_elk.proto
  src/hstd/ext/graph/visual/graph_visual.proto
  src/hstd/ext/hstd_serde.hpp
Due: find-debug-calls, cmake-format, no-undocumented-api

fix(mmap): add missing header includes
  src/hstd/ext/graph/visual/graph_avoid.hpp
  src/hstd/ext/graph/visual/graph_elk.cpp
  src/hstd/ext/hstd_serde.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): serialize layout constraints
  src/hstd/ext/graph/base/graph_base.proto
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/graph_visual.hpp
  src/hstd/ext/graph/visual/graph_visual.proto
  tests/common.cpp
  tests/common.hpp
  tests/hstd/t_graph_tests_common.hpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): kiwi constraint serialization
  src/hstd/CMakeLists.txt
  src/hstd/ext/geometry/kiwi_ir.proto
  src/hstd/ext/graph/base/graph_common.hpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/graph_visual.cpp
  src/hstd/ext/graph/visual/graph_visual.hpp
  tests/hstd/graph/tGraphVisualKiwi.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

wip(mmap): serialize kiwi constraints
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
Due: find-debug-calls, no-undocumented-api

wip(hstd): test fixes
  scripts/py_cli/py_cli/generate/story_grid.py
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/geometry/kiwi_ir.proto
  src/hstd/ext/graph/base/graph_hierarchy.cpp
  src/hstd/ext/graph/base/graph_hierarchy.hpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  tests/hstd/graph/tGraphBase.cpp
  tests/hstd/graph/tGraphVisualGraphviz.cpp
  tests/hstd/t_graph_tests_common.hpp
  tests/python/test_immutable_ast.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(repo): test fixes
  src/hstd/ext/logger.cpp
  src/hstd/ext/logger.hpp
  tests/hstd/graph/tGraphVisualGraphviz.cpp
  tests/hstd/tASTDiff.cpp
Due: find-debug-calls, no-undocumented-api

fix(repo): fix uv build verification test
  CMakeLists.txt
  justfile
  scripts/py_haxorg/pyproject.toml
  src/cmake/functions_setup.cmake
  src/haxorg/imm/ImmOrgGraph.cpp
  src/hstd/ext/geometry/hstd_geometry_serde.cpp
  src/hstd/ext/geometry/hstd_geometry_serde.hpp
  src/hstd/ext/geometry/hstd_visual_serde.cpp
  src/hstd/ext/geometry/hstd_visual_serde.hpp
  src/hstd/ext/graph/base/graph_attribute.cpp
  src/hstd/ext/graph/base/graph_attribute.hpp
  src/hstd/ext/graph/base/graph_base.hpp
  src/hstd/ext/graph/base/graph_vertex.hpp
  src/hstd/ext/graph/visual/graph_visual.hpp
Due: find-debug-calls, cmake-format, no-undocumented-api

fix(ci): update include guards
  src/hstd/ext/hstd_serde.cpp
  src/hstd/ext/hstd_serde.hpp
Due: find-debug-calls, no-undocumented-api

fix(build): cmake configuration for emcc build ok
  .gitmodules
  CMakeLists.txt
  examples/js_test/js_test.js
  justfile
  scripts/py_ci/py_ci/data_build.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_base.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_emcc_only.json
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
Due: isort, yapf, check-repo-tasks, cmake-format, no-undocumented-api

fix(js): fix emcc build
  CMakeLists.txt
  conanfile.py
  conanprofile_emcc.txt
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_base.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
  src/haxorg/sem/SemOrgBaseSharedTypes.cpp
  src/haxorg/sem/SemOrgBaseSharedTypes.hpp
  src/hstd/CMakeLists.txt
  src/hstd/ext/astdiff/astdiff_eager.cpp
  src/hstd/ext/logger.hpp
  src/hstd/stdlib/Outcome.hpp
  src/hstd/stdlib/TraceBase.hpp
  src/hstd/system/exceptions.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_manual.cpp
  src/wrappers/js/node_org_include.hpp
  src/wrappers/js/node_utils.hpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

fix(js): can execute js runtime test
  examples/js_test/js_test.js
  justfile
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_utility_types.d.ts
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_manual.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

feat(repo): store all workflow execution runs
  scripts/py_repository/py_repository/repo_tasks/workflow.py
Due: isort, yapf, no-undocumented-api

refactor(repo): use hstd logger in code forensics
  scripts/cxx_repository/CMakeLists.txt
  scripts/cxx_repository/code_forensics.cpp
  scripts/cxx_repository/program_state.hpp
  scripts/cxx_repository/repo_graph.cpp
  scripts/cxx_repository/repo_processing.cpp
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  src/hstd/ext/logger.hpp
  src/hstd/stdlib/SetSerde.hpp
  tests/python/repo/test_code_forensics.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

wip(test): extend code forensics tests
  pyproject.toml
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  tests/python/conftest.py
  tests/python/repo/test_code_forensics.py
  uv.lock
Due: isort, yapf, check-repo-tasks, no-undocumented-api

wip(repo): remove attempts to infer git commits
  scripts/cxx_repository/repo_processing.cpp
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  tests/python/repo/code_forensics_utils.py
  tests/python/repo/test_code_forensics.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

wip(repo): add more tests for code forensics
  CMakeLists.txt
  scripts/cxx_repository/program_state.hpp
  scripts/cxx_repository/repo_processing.cpp
  tests/python/repo/test_code_forensics.py
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): code forensics bugfixing checkpoint
  scripts/cxx_repository/code_forensics.cpp
  scripts/cxx_repository/git_ir.hpp
  scripts/cxx_repository/program_state.hpp
  scripts/cxx_repository/repo_processing.cpp
  tests/python/repo/test_code_forensics.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(repo): update script for repo burndown
  justfile
  scripts/cxx_repository/code_forensics.cpp
  scripts/cxx_repository/code_forensics.sql
  scripts/cxx_repository/cxx_repository/burndown.py
  scripts/cxx_repository/cxx_repository/code_forensics.py
  scripts/cxx_repository/cxx_repository/code_forensics_cli.py
  scripts/cxx_repository/cxx_repository/orm_model.py
  scripts/cxx_repository/program_state.hpp
  scripts/py_cli/py_cli/haxorg_cli.py
  scripts/py_repository/py_repository/repo_tasks/code_forensics.py
  scripts/py_scriptutils/py_scriptutils/toml_config_profiler.py
  tests/python/repo/test_code_forensics.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(repo): integrate burndown run in develop CI
  justfile
  scripts/cxx_repository/cxx_repository/burndown.py
  scripts/cxx_repository/cxx_repository/code_forensics_cli.py
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
Due: isort, yapf, no-undocumented-api

wip(cxx): fmt migration
  scripts/cxx_repository/git_interface.hpp
  src/haxorg/imm/ImmOrgBase.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/lexbase/Node.hpp
  src/haxorg/lexbase/TokenStore.hpp
  tests/hstd/tLogger.cpp
Due: find-debug-calls, no-undocumented-api

refactor(cxx): project compiles w/o issues
  conanfile.py
  scripts/cxx_codegen/profdata_merger.cpp
  src/haxorg/imm/ImmOrgStore.cpp
  src/hstd/ext/geometry/kiwi_ir_repr.cpp
  src/hstd/ext/logger.hpp
  src/hstd/stdlib/Formatter.hpp
  tests/hstd/tLogger.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api
