Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
    src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
    src/wrappers/js/haxorg_wasm\.cpp|
    src/wrappers/js/haxorg_wasm_types\.d\.ts|
    scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
    src/py_libs/pyhaxorg/pyhaxorg\.cpp|
    src/haxorg/serde/SemOrgProto\.proto|
    src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
    src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
    src/haxorg/exporters/Exporter\.tcc|
    src/haxorg/imm/ImmOrgSerde\.tcc|
    src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
    src/haxorg/exporters/ExporterMethods\.tcc|
    src/haxorg/sem/SemOrgEnums\.hpp|
    src/haxorg/sem/SemOrgEnums\.cpp|
    src/haxorg/sem/SemOrgSharedTypes\.hpp|
    src/haxorg/sem/SemOrgTypes\.hpp|
    src/haxorg/imm/ImmOrgTypes\.hpp
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

refactor(py): don't ingest macro-generated refl
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, no-undocumented-api

fix(py): include adapter wrappers in py lib
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, no-undocumented-api

fix(py): include 'adapter' in wrapper
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, no-undocumented-api

fix(cxx): register bool literals
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_pybind11.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_haxorg/py_haxorg/astbuilder/astbuilder_base.py
  scripts/py_haxorg/py_haxorg/astbuilder/astbuilder_utils.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_build.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

fix(py): add missing enum-int conversion
  justfile
  scripts/py_cli/py_cli/generate/activity_analysis.py
  scripts/py_cli/py_cli/haxorg_cli.py
  scripts/py_codegen/py_codegen/astbuilder_pybind11.py
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
Due: isort, yapf, no-undocumented-api

fix(py): use nanobind container utils
  scripts/py_codegen/py_codegen/astbuilder_pybind11.py
  scripts/py_codegen/py_codegen/refl_extract.py
  scripts/py_haxorg/py_haxorg/exporters/export_sqlite.py
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pybind11_utils.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  tests/python/conftest.py
  tests/python/refl/test_function_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(py): pass adapter to base constructor
  scripts/py_codegen/py_codegen/codegen_immutable.py
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
Due: isort, yapf, no-undocumented-api

fix(py): disable leak warnings
  scripts/py_codegen/py_codegen/astbuilder_pybind11.py
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  scripts/py_repository/py_repository/repo_tasks/haxorg_tests.py
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  tests/python/test_coverall.py
Due: isort, yapf, check-repo-tasks, no-undocumented-api

fix(cxx): use nanobind in conan/submodule
  .gitmodules
  README.org
  conanfile.py
  justfile
  scripts/py_ci/py_ci/data_build.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_haxorg/_build_backend.py
  src/py_libs/nanobind_utils.hpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_impl.hpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_wrap.hpp
  tests/python/refl/test_function_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(repo): accept cpython-* .so libs
  scripts/py_repository/py_repository/repo_tasks/haxorg_build.py
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
Due: isort, yapf, no-undocumented-api

wip(py): codegen scripts organization
  justfile
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_proto.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_iteration_macros.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/py_codegen/refl_wrapper_graph.py
  scripts/py_codegen/py_codegen/wrapper_gen_nim.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
  src/wrappers/c/haxorg_c_lib.cpp
  src/wrappers/c/haxorg_c_lib.h
  src/wrappers/c/haxorg_c_utils.hpp
  tests/python/refl/test_function_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(py): use `type =` syntax
  scripts/py_codegen/py_codegen/astbuilder_proto.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
Due: isort, yapf, no-undocumented-api

refactor(py): split codegen into smaller files
  .pre-commit-config.yaml
  justfile
  scripts/py_codegen/py_codegen/astbuilder_proto.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_c.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_iteration_macros.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_haxorg/pyproject.toml
  scripts/py_repository/py_repository/repo_hooks/safe_yapf_format.py
  scripts/py_repository/py_repository/repo_tasks/command_execution.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
Due: isort, yapf, check-repo-tasks, no-undocumented-api

refactor(py): remove start import from wasm
  scripts/py_codegen/py_codegen/astbuilder_embind.py
Due: isort, yapf, no-undocumented-api

docs(py): expand codegen_ir docs
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
Due: isort, yapf, no-undocumented-api

test(py): extra tests for qual type reflection
  scripts/py_codegen/py_codegen/refl_extract.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  tests/python/conftest.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_type_reflection.py
Due: isort, yapf, check-repo-tasks, no-undocumented-api

feature(py): collect refl coverage
  justfile
  scripts/cxx_codegen/profdata_merger.cpp
  scripts/py_codegen/py_codegen/refl_extract.py
  scripts/py_codegen/py_codegen/tu_collector.py
  scripts/py_repository/py_repository/code_analysis/gen_coverage_cxx.py
  scripts/py_repository/py_repository/repo_docgen/gen_coverage.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  tests/python/conf_test_common.py
  tests/python/conftest.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_type_reflection.py
  tests/python/repo/test_code_coverage.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

test(py): more tests for type conversion
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_defs.proto
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/refl_extract.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_tests.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_coverall_refl.py
  tests/python/refl/test_record_reflection.py
  tests/python/refl/test_type_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

test(py): method/base reflection extract
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  tests/python/refl/test_record_reflection.py
Due: isort, yapf, check-repo-tasks, no-undocumented-api

refactor(py): config class for nanobind
  .gitignore
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_cpp_config.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nim_config.py
  scripts/py_codegen/py_codegen/astbuilder_py.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_build.py
Due: isort, yapf, no-undocumented-api

fix(py): nanobind gen config migration
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/wrappers/js/haxorg_wasm.cpp
  tests/python/conf_test_common.py
  tests/python/refl/test_function_reflection.py
  tests/python/refl/test_record_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(py): streamline specialization collection
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
Due: isort, yapf, no-undocumented-api

wip(py): use astbuild config for embind
  justfile
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_build.py
  scripts/py_repository/py_repository/repo_tasks/workflow_utils.py
  scripts/py_scriptutils/py_scriptutils/script_logging.py
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, no-undocumented-api

wip(py): check `isExposedForWrap` in template args
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_repository/py_repository/repo_tasks/common.py
  scripts/py_repository/py_repository/repo_tasks/workflow_utils.py
  src/py_libs/nanobind_utils.hpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(py): add missing specializations
  scripts/py_cli/py_cli/generate/codex_tracking.py
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_haxorg/py_haxorg/babel.py
  scripts/py_haxorg/py_haxorg/babel_plantuml.py
  scripts/py_repository/py_repository/code_analysis/gen_coverage_cxx.py
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  scripts/py_repository/py_repository/repo_tasks/haxorg_tests.py
  src/py_libs/nanobind_utils.hpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  tests/python/repo/test_code_coverage.py
  tests/python/test_code_eval.py
  tests/python/test_simple_org_use.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

refactor(py): use astbuilder config for nim
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nim.py
  scripts/py_codegen/py_codegen/astbuilder_nim_config.py
  scripts/py_codegen/py_codegen/astbuilder_proto.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_iteration_macros.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/refl_extract.py
  scripts/py_codegen/py_codegen/wrapper_gen_nim.py
  scripts/py_repository/py_repository/code_analysis/gen_coverage_cxx.py
  tests/python/conftest.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_function_reflection.py
  tests/python/repo/test_code_coverage.py
Due: isort, yapf, no-undocumented-api

refactor(repo): remove docker run commands
  justfile
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
Due: isort, yapf, no-undocumented-api

refactor(repo): remove docker fuse mount
  scripts/py_repository/py_repository/repo_tasks/docker_fuse.py
Due: isort, yapf, no-undocumented-api

fix(repo): fix import for docker
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
Due: isort, yapf, no-undocumented-api

wip(codegen): remove value reader accessor for imm
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/app/org_imgui/gui_lib/doc_editor.hpp
  src/app/org_imgui/gui_lib/story_grid.hpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/serde/SemOrgCereal.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_refl.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): split adapter spec impl to cpp file
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, no-undocumented-api

wip(codegen): map id to adapter in getters
  .fdignore
  .pre-commit-config.yaml
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

refactor(py): provide adapter field getters
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/app/org_diagram/src/utils/common.cpp
  src/app/org_diagram/src/utils/common.hpp
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgAdapterGenerated.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/sem/SemOrgSharedApi.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/tImmAst.cpp
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

style(py): fix naming-related runtime failures
  scripts/py_cli/py_cli/generate/story_grid.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_proto.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_iteration_macros.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/py_codegen/refl_wrapper_graph.py
  scripts/py_codegen/py_codegen/wrapper_gen_nim.py
  scripts/py_haxorg/py_haxorg/astbuilder/astbuilder_typst.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
  scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  scripts/py_scriptutils/py_scriptutils/sqlalchemy_utils.py
  src/haxorg/sem/SemOrgBase.hpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  tests/python/conftest.py
  tests/python/test_coverall.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

style(py): fix naming-related test failures
  scripts/py_cli/py_cli/generate/story_grid.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/py_codegen/refl_wrapper_graph.py
  scripts/py_codegen/py_codegen/wrapper_gen_nim.py
  scripts/py_scriptutils/py_scriptutils/sqlalchemy_utils.py
  tests/python/conftest.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_record_reflection.py
Due: isort, yapf, no-undocumented-api

fix(py): resolve missing codegen types
  benchmark/hstd/bRecursivePathTrackerBenchmark_visualize.py
  pyproject.toml
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_repository/pyproject.toml
  scripts/py_ci/pyproject.toml
  scripts/py_cli/py_cli/generate/story_grid.py
  scripts/py_cli/pyproject.toml
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/pyproject.toml
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_haxorg/pyproject.toml
  scripts/py_repository/py_repository/repo_tasks/command_execution.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  scripts/py_repository/pyproject.toml
  scripts/py_scriptutils/pyproject.toml
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  scripts/py_wrappers/pyproject.toml
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgBase.hpp
  src/haxorg/lexbase/SourceManager.hpp
  src/hstd/stdlib/dod_base.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/vendor/haxorg_py_test_package/pyproject.toml
  uv.lock
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

fix(py): more type fixes for pyproject.pyi
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/astbuilder_py.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  src/haxorg/lexbase/SourceManager.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

refactor(py): match python spaces explicitly
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  tests/python/test_immutable_ast.py
Due: isort, yapf, no-undocumented-api

refactor(codegen): remove ignored spaces
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, no-undocumented-api
