Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
    src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
    src/wrappers/js/haxorg_wasm\.cpp|
    src/wrappers/js/haxorg_wasm_types\.d\.ts|
    scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
    src/py_libs/pyhaxorg/pyhaxorg\.cpp|
    src/haxorg/serde/SemOrgProto\.proto|
    src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
    src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
    src/haxorg/exporters/Exporter\.tcc|
    src/haxorg/imm/ImmOrgSerde\.tcc|
    src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
    src/haxorg/exporters/ExporterMethods\.tcc|
    src/haxorg/sem/SemOrgEnums\.hpp|
    src/haxorg/sem/SemOrgEnums\.cpp|
    src/haxorg/sem/SemOrgSharedTypes\.hpp|
    src/haxorg/sem/SemOrgTypes\.hpp|
    src/haxorg/imm/ImmOrgTypes\.hpp
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

wip(cxx): use string view for tokens
  src/haxorg/base_lexer/base_token.cpp
  src/haxorg/base_lexer/base_token.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/base_lexer/base_token_tokenize.hpp
  src/haxorg/parse/OrgParserReport.cpp
  src/haxorg/parse/OrgParserTypes.hpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/haxorg/parse/OrgTokenizerReport.cpp
  src/hstd/stdlib/Str.hpp
  src/hstd/stdlib/diffs.hpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/stdlib/strutils.hpp
  tests/org/tErrorFormat.cpp
Due: find-debug-calls, no-undocumented-api

wip(cxx): use string view more often
  scripts/cxx_executor/execution_flow_tracker.cpp
  scripts/cxx_repository/repo_processing.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/base_lexer/base_token.hpp
  src/haxorg/exporters/ExporterUltraplain.cpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemConvertUtils.cpp
  src/haxorg/sem/SemOrgFormat.cpp
  src/haxorg/sem/SemOrgSharedApi.cpp
  src/haxorg/test/corpusrunner.cpp
  src/hstd/ext/error_write.cpp
  src/hstd/ext/geometry/hstd_visual.cpp
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/immer.hpp
  src/hstd/ext/textlayouter.cpp
  src/hstd/stdlib/ColText.cpp
  src/hstd/stdlib/ColText.hpp
  src/hstd/stdlib/ColTextHShow.hpp
  src/hstd/stdlib/IntSet.hpp
  src/hstd/stdlib/JsonSerde.hpp
  src/hstd/stdlib/Str.cpp
  src/hstd/stdlib/Str.hpp
  src/hstd/stdlib/Vec.hpp
  src/hstd/stdlib/Yaml.hpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/stdlib/strutils.hpp
  src/hstd/system/string_convert.hpp
  src/wrappers/c/haxorg_c.cpp
  tests/hstd/tStr.cpp
  tests/org/tErrorFormat.cpp
  tests/org/tOrgParseCorpus.cpp
Due: find-debug-calls, no-undocumented-api

refactor(cxx): use string view more
  scripts/cxx_repository/repo_processing.cpp
  src/cmake/functions_setup.cmake
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/lexbase/NodeIO.hpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/test/corpusrunner.cpp
  src/hstd/stdlib/Span.hpp
  src/hstd/stdlib/Str.hpp
  src/hstd/stdlib/Yaml.hpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/stdlib/strutils.hpp
  tests/hstd/tStr.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

perf(lex): make advance guards fully optional
  .gitignore
  justfile
  scripts/py_repository/py_repository/repo_hooks/validate_commit_message.py
  src/app/org_cli/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

Revert "perf(lex): make advance guards fully optional"
  .gitignore
  justfile
  scripts/py_repository/py_repository/repo_hooks/validate_commit_message.py
  src/app/org_cli/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

Reapply "perf(lex): make advance guards fully optional"
  .gitignore
  justfile
  scripts/py_repository/py_repository/repo_hooks/validate_commit_message.py
  src/app/org_cli/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

perf(lex): lexer optimizations
  justfile
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  src/app/org_cli/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/lexbase/AstSpec.hpp
  src/haxorg/lexbase/Node.cpp
  src/haxorg/lexbase/NodeAdapter.hpp
  src/haxorg/lexbase/NodeStore.hpp
  src/haxorg/parse/OrgParserReport.cpp
  src/haxorg/sem/SemConvert.cpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/stdlib/strutils.hpp
Due: check-repo-tasks, find-debug-calls, no-undocumented-api

perf(parse): move advance guard into RAII struct
  justfile
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgParserUtils.cpp
Due: find-debug-calls, no-undocumented-api

perf(parse): early exits for lexer functions
  CMakeLists.txt
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/hstd/stdlib/Slice.hpp
  src/hstd/stdlib/Vec.hpp
  tests/org/t_common_main.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

refactor(org): operations tracer level to private
  CMakeLists.txt
  src/haxorg/exporters/Exporter.hpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgParserReport.cpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/haxorg/parse/OrgTokenizerReport.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemConvertUtils.cpp
  src/hstd/ext/error_write.cpp
  src/hstd/stdlib/Slice.hpp
  src/hstd/stdlib/Str.hpp
  src/hstd/stdlib/TraceBase.cpp
  src/hstd/stdlib/TraceBase.hpp
  src/hstd/stdlib/Vec.hpp
  tests/org/t_common_main.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

fix(lex): updated rule for monospace edge detect
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/lexbase/Lexer.hpp
  src/haxorg/lexbase/NodeStore.hpp
  src/haxorg/parse/OrgParserReport.cpp
  src/haxorg/parse/OrgParserUtils.cpp
Due: find-debug-calls, no-undocumented-api

feat(cli): support @file for CLI options
  src/app/org_cli/main.cpp
  src/haxorg/api/ParseContext.cpp
  src/haxorg/api/ParseContext.hpp
Due: find-debug-calls, no-undocumented-api

fix(lex): handle unterminated begin_src
  src/haxorg/base_lexer/base_token_tokenize.cpp
  tests/org/corpus/document_structures/assorted_bugs.yaml
Due: find-debug-calls, no-undocumented-api

fix(lex): replicate example/export lexer fixes
  src/haxorg/base_lexer/base_token_tokenize.cpp
Due: find-debug-calls, no-undocumented-api

fix(lex): fix false dynamic command begin detect
  src/haxorg/base_lexer/base_token_tokenize.cpp
  tests/org/corpus/document_structures/assorted_bugs.yaml
Due: find-debug-calls, no-undocumented-api

fix(lex): treat begin cmd without name as word
  src/haxorg/base_lexer/base_token_tokenize.cpp
  tests/org/corpus/document_structures/assorted_bugs.yaml
Due: find-debug-calls, no-undocumented-api

fix(lex): register separator only at line start
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/lexbase/TokenStore.hpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/hstd/stdlib/dod_base.hpp
  tests/org/corpus/document_structures/assorted_bugs.yaml
Due: find-debug-calls, no-undocumented-api

test(lex): subtree properties with noise
  src/haxorg/base_lexer/base_token_tokenize.cpp
  tests/org/corpus/document_structures/assorted_bugs.yaml
Due: find-debug-calls, no-undocumented-api

refactor(lex): split into smaller functions
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgParser.cpp
Due: find-debug-calls, no-undocumented-api

feat(hstd): filter tracer scopes
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/hstd/stdlib/TraceBase.cpp
  src/hstd/stdlib/TraceBase.hpp
Due: check-repo-tasks, find-debug-calls, no-undocumented-api

refactor(hstd): make trace state private field
  src/app/org_imgui/gui_lib/imgui_utils.cpp
  src/haxorg/api/EvalContext.cpp
  src/haxorg/api/EvalContext.hpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/exporters/Exporter.hpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrgAdapter.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParserUtils.cpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/haxorg/parse/OrgTokenizerReport.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemConvertUtils.cpp
  src/haxorg/test/corpusrunner.cpp
  src/haxorg/test/org_parse_aux.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/stdlib/TraceBase.hpp
  src/hstd/stdlib/diffs.cpp
Due: find-debug-calls, no-undocumented-api

wip(org): support for diary entries in parser
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/corpus/document_structures/assorted_bugs.yaml
  tests/org/corpus/document_structures/subtree.yaml
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(org): parse standalone diary entries
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgParser.cpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/parse/OrgSpec.cpp
  src/haxorg/sem/SemConvert.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

refactor(hstd): simplify logi scope matcher
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/hstd/stdlib/SpanFormatter.hpp
  src/hstd/stdlib/TraceBase.cpp
  src/hstd/stdlib/TraceBase.hpp
  src/hstd/stdlib/VecFormatter.hpp
  tests/org/corpus/document_structures/assorted_bugs.yaml
  tests/org/corpus/document_structures/subtree.yaml
Due: find-debug-calls, no-undocumented-api

feat(parse): handle list counter
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/app/org_imgui/gui_lib/imgui_utils.cpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/parse/OrgParser.cpp
  src/hstd/stdlib/Str.hpp
  src/hstd/stdlib/TraceBase.cpp
  tests/org/corpus/document_structures/assorted_bugs.yaml
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

feat(org): update codegen run
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/haxorg/test/NodeTest.cpp
  src/haxorg/test/NodeTest.hpp
  src/hstd/ext/error_write.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/corpus/document_structures/assorted_bugs.yaml
Due: find-debug-calls, no-undocumented-api

feat(test): pass the location info to test spec
  src/haxorg/api/ParseContext.cpp
  src/haxorg/base_lexer/base_token.cpp
  src/haxorg/base_lexer/base_token.hpp
  src/haxorg/parse/OrgTokenizer.cpp
  src/haxorg/parse/OrgTokenizer.hpp
  src/haxorg/test/NodeTest.cpp
  src/haxorg/test/NodeTest.hpp
  src/haxorg/test/corpusrunner.cpp
  src/haxorg/test/org_parse_aux.hpp
  tests/org/tBaseLexer.cpp
Due: find-debug-calls, no-undocumented-api

fix(lex): remove CmdDynamicBegin token
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

wip(org): re-enable location in protobuf
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/lexbase/Node.hpp
  src/haxorg/serde/SemOrgSerde.hpp
  src/hstd/ext/error_write.hpp
  src/hstd/ext/logger.hpp
  src/py_libs/nanobind_utils.hpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_impl.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

fix(lex): narrow missing colon detection for attr
  CMakeLists.txt
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf.json
  scripts/py_repository/py_repository/repo_tasks/workflow.py
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/parse/OrgParser.hpp
  src/haxorg/test/org_parse_aux.hpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/stdlib/strutils.hpp
  tests/org/tImmMindMap.cpp
  tests/org/tOrgTestCommon.cpp
Due: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

feat(org): write dedicated imm id formatters
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/lexbase/SourceManager.hpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

feat(repo): add 'imm' for the commit validation
  scripts/py_repository/py_repository/repo_hooks/validate_commit_message.py
Due: isort, yapf, no-undocumented-api

feat(mmap): register non-description list items
  src/haxorg/api/SemBaseApi.hpp
  src/haxorg/imm/ImmGetterApi.cpp
  src/haxorg/imm/ImmGetterApi.hpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/hstd/stdlib/Vec.hpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, no-undocumented-api

fix(lex): empty source line dedent
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/parse/OrgTokenizer.cpp
Due: find-debug-calls, no-undocumented-api

feat(cli): export protobuf to XML
  src/app/org_cli/main.cpp
  src/app/org_cli/make_proto_xml_mapper.cpp
  src/app/org_cli/proto_to_xml.cpp
  src/app/org_cli/proto_to_xml.hpp
  src/hstd/stdlib/Xml.hpp
Due: find-debug-calls, no-undocumented-api

feat(cli): unpack protobuf any payloads
  src/app/org_cli/proto_to_xml.cpp
  src/app/org_cli/proto_to_xml.hpp
Due: find-debug-calls, no-undocumented-api

refactor(cli): proto to xml mapper, use lex append
  src/app/org_cli/make_proto_xml_mapper.cpp
  src/app/org_cli/proto_to_xml.cpp
  src/app/org_cli/proto_to_xml.hpp
Due: find-debug-calls, no-undocumented-api

feat(cli): reduce XML dump verbosity
  src/app/org_cli/make_proto_xml_mapper.cpp
  src/app/org_cli/proto_to_xml.cpp
  src/haxorg/imm/ImmOrg.cpp
Due: find-debug-calls, no-undocumented-api

feat(cli): utility function for oneof fields
  src/app/org_cli/make_proto_xml_mapper.cpp
Due: find-debug-calls, no-undocumented-api

feat(cli): option to dump the imm ast content
  src/app/org_cli/main.cpp
  src/app/org_cli/make_proto_xml_mapper.cpp
  src/haxorg/api/ParseContext.hpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrgBase.hpp
  src/haxorg/sem/SemConvert.cpp
  src/hstd/stdlib/Filesystem.cpp
  src/hstd/stdlib/Filesystem.hpp
Due: find-debug-calls, no-undocumented-api
