Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
    src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
    src/wrappers/js/haxorg_wasm\.cpp|
    src/wrappers/js/haxorg_wasm_types\.d\.ts|
    scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
    src/py_libs/pyhaxorg/pyhaxorg\.cpp|
    src/haxorg/serde/SemOrgProto\.proto|
    src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
    src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
    src/haxorg/exporters/Exporter\.tcc|
    src/haxorg/imm/ImmOrgSerde\.tcc|
    src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
    src/haxorg/exporters/ExporterMethods\.tcc|
    src/haxorg/sem/SemOrgEnums\.hpp|
    src/haxorg/sem/SemOrgEnums\.cpp|
    src/haxorg/sem/SemOrgSharedTypes\.hpp|
    src/haxorg/sem/SemOrgTypes\.hpp|
    src/haxorg/imm/ImmOrgTypes\.hpp
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

feat(codegen): wrap vec instances for C separately
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/hstd/ext/error_write.hpp
  src/hstd/stdlib/Vec.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/tOrgCApi.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): generic tempalte instantiation
  scripts/cxx_codegen/reflection_defs.proto
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/hstd/stdlib/Map.hpp
  src/hstd/stdlib/Vec.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): use vtable in type-erased templates
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/hstd/ext/immer.hpp
  src/hstd/stdlib/Map.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(codegen): read extra reflection from JSON
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): create schema for refl json
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(refl): proto struct for reflection params
  pyproject.toml
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_defs.proto
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  scripts/py_repository/py_repository/repo_tasks/workflow_utils.py
  uv.lock
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

feat(codegen): add opt to the generation
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/py_codegen/refl_schema_gen.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(codegen): splitting vtable codegen logic
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
Due: isort, yapf, no-undocumented-api

wip(codegen): strictre protobuf json load
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/py_codegen/refl_schema_gen.py
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(refl): finalize new json loader for refl
  .pre-commit-config.yaml
  .trunk/.gitignore
  .trunk/configs/.isort.cfg
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/trunk.yaml
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/py_codegen/refl_schema_gen.py
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(codegen): refl params field for proxy lambda
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/refl_schema_gen.py
Due: isort, yapf, no-undocumented-api

feat(codegen): proxy function for methods
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(codegen): unified vtable method signature
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(codegen): disallow mixed void/instantiation
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/hstd/stdlib/Map.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(codegen): rewrite template unification
  CMakeLists.txt
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_base.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  src/haxorg/CMakeLists.txt
  tests/org/tOrgCApi.cpp
  tests/python/refl/test_reflection_algorithm.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

feat(codegen): updated unification algorithm
  scripts/py_codegen/py_codegen/codegen_algo.py
  tests/python/refl/test_reflection_algorithm.py
Due: isort, yapf, no-undocumented-api

fix(refl): update template reflection
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_defs.proto
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_codegen/py_codegen/refl_schema_gen.py
  scripts/py_codegen/py_codegen/wrapper_gen_nim.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  tests/python/refl/refl_test_driver.py
  tests/python/refl/test_record_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

test(refl): template type param extraction
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_defs.proto
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/refl_read.py
  tests/python/refl/test_record_reflection.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

refactor(refl): extract template filler to method
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_collector.hpp
Due: find-debug-calls, no-undocumented-api

fix(codegen): update codegen for new templates
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/codegen_ir.py
Due: isort, yapf, no-undocumented-api

feat(codegen): diagnostics for void-handle uses
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
Due: isort, yapf, no-undocumented-api

feat(codegen): use void-handle for vector
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/hstd/stdlib/Vec.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): normalize template to payload
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/hstd/stdlib/Vec.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

wip(codegen): adding more templates to C
  scripts/py_codegen/py_codegen/astbuilder_base_config.py
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/hstd/stdlib/IntSet.hpp
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_api.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/js/haxorg_wasm_types.d.ts
  tests/org/tOrgCApi.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): algorithm to substitute typedefs
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  tests/python/refl/test_reflection_algorithm.py
Due: isort, yapf, no-undocumented-api

wip(codegen): use typedef substitution in C wraps
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_type_groups.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  scripts/py_codegen/py_codegen/refl_read.py
Due: isort, yapf, no-undocumented-api

wip(codegen): generate normalized C wrappers
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(codegen): unify/transfer const& with typedef
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_codegen/py_codegen/codegen_extra_types.json
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
Due: isort, yapf, find-debug-calls, no-undocumented-api

test(codegen): finalize first test for C wrappers
  tests/org/tOrgCApi.cpp
Due: find-debug-calls, no-undocumented-api

fix(codegen): generate plan enums in C wrappers
  README.org
  scripts/py_codegen/py_codegen/astbuilder_c_config.py
  scripts/py_codegen/py_codegen/codegen_cpp.py
  scripts/py_codegen/py_codegen/codegen_ir.py
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/wrappers/c/haxorg_c.cpp
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_utils.hpp
  tests/org/tOrgCApi.cpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

feat(codegen): enable destructors for templates
  scripts/py_codegen/py_codegen/codegen_wrapper_c.py
  src/wrappers/c/haxorg_c.h
  src/wrappers/c/haxorg_c_utils.hpp
  src/wrappers/c/haxorg_c_vtables.cpp
  src/wrappers/c/haxorg_c_vtables.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(test): fix test
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_no_emcc.json
  tests/org/corpus/document_structures/errors.yaml
  tests/python/refl/test_reflection_algorithm.py
  tests/python/repo/test_code_coverage.py
Due: isort, yapf, check-repo-tasks, no-undocumented-api

style(py): run isort on all files
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_embind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind.py
  scripts/py_codegen/py_codegen/astbuilder_nanobind_config.py
  scripts/py_codegen/py_codegen/astbuilder_nim.py
  scripts/py_codegen/py_codegen/astbuilder_nim_config.py
  scripts/py_codegen/py_codegen/astbuilder_py.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_codegen/py_codegen/codegen_wrapper_embind.py
  scripts/py_codegen/py_codegen/codegen_wrapper_nanobind.py
  scripts/py_codegen/py_codegen/tu_collector.py
  scripts/py_repository/py_repository/code_analysis/gen_coverage_cxx.py
  scripts/py_repository/py_repository/repo_hooks/safe_yapf_format.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
  scripts/py_repository/py_repository/repo_tasks/workflow_utils.py
  scripts/py_scriptutils/py_scriptutils/script_logging.py
  src/app/org_diagram/src/gui/items/DiaSceneItem.hpp
  src/app/org_diagram/src/model/graph/IOrgGraph.hpp
  src/app/org_diagram/tests/tDiaSceneItemModelTest.cpp
  src/app/org_imgui/gui_test/t_story_grid.cpp
  src/haxorg/sem/SemConvert.hpp
  src/hstd/ext/perfetto_aux_impl_template.hpp
  src/hstd/stdlib/DynVariant.hpp
  src/hstd/stdlib/JsonSerde.hpp
  src/hstd/system/aux_templates.hpp
  tests/hstd/tDynVariant.cpp
  tests/hstd/tGraphTracker.cpp
  tests/hstd/tVec.cpp
  tests/org/tImmAst.cpp
  tests/python/refl/test_type_reflection.py
  tests/python/refl/test_wrapper_generation.py
Due: isort, yapf, find-debug-calls, no-undocumented-api

fix(ci): add ast-grep to pre-commit
  .github/workflows/pre_commit.yaml
Due: none

fix(py): add plumbum to dependencies
  scripts/py_haxorg/pyproject.toml
Due: none

style(cxx): ast-grep rule to unify compare
  benchmark/hstd/bRecursivePathTrackerBenchmark.cpp
  scripts/cxx_codegen/reflection_collector.cpp
  scripts/cxx_codegen/reflection_demangler.cpp
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/cpp_unified_const_placement_arg.yaml
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/cpp_unified_const_placement_const_decl.yaml
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/cpp_unified_const_placement_decl.yaml
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/cpp_unified_const_placement_function_decl.yaml
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/cpp_unified_const_placement_named_arg.yaml
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/cpp_uniform_less_or_equal_placement.yaml
  src/app/org_diagram/src/gui/items/DiaSceneItemEdge.hpp
  src/app/org_diagram/src/gui/items/DiaSceneItemImage.hpp
  src/app/org_viewer/file_agenda_table.cpp
  src/app/org_viewer/file_agenda_table.hpp
  src/app/org_viewer/shared_org_logic.cpp
  src/haxorg/api/EvalContext.cpp
  src/haxorg/base_lexer/base_token_tokenize.cpp
  src/haxorg/sem/SemConvert.cpp
  src/hstd/ext/astdiff.cpp
  src/hstd/ext/astdiff.hpp
  src/hstd/ext/log_graph_tracker.cpp
  src/hstd/ext/textlayouter.cpp
  src/hstd/stdlib/BackwardsIndex.hpp
  src/hstd/stdlib/RecursivePathTracker.hpp
  src/hstd/stdlib/diffs.cpp
  src/hstd/stdlib/diffs.hpp
  src/hstd/stdlib/reflection_visitor.cpp
  src/hstd/stdlib/reflection_visitor.hpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/system/reflection.hpp
  uv.lock
Due: find-debug-calls, no-undocumented-api

style(py): uniform compare direction
  benchmark/hstd/bRecursivePathTrackerBenchmark_visualize.py
  scripts/cxx_repository/lldb_script.py
  scripts/py_cli/py_cli/generate/mind_map/elk_converter.py
  scripts/py_cli/py_cli/generate/mind_map/haxorg_mind_map.py
  scripts/py_cli/py_cli/generate/sort_repository_tags.py
  scripts/py_cli/py_cli/generate/story_grid.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/codegen_algo.py
  scripts/py_repository/py_repository/code_analysis/gen_import_graph.py
  scripts/py_repository/py_repository/code_analysis/gen_include_graph.py
  scripts/py_repository/py_repository/code_analysis/gen_symbol_size_report.py
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/python_less_placement.yaml
  scripts/py_repository/py_repository/repo_hooks/ast_grep_rules/python_uniform_less_or_equal_placement.yaml
  scripts/py_repository/py_repository/repo_hooks/prepare_commit_message.py
  scripts/py_repository/py_repository/repo_hooks/validate_commit_message.py
  scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  scripts/py_scriptutils/py_scriptutils/algorithm.py
  scripts/py_scriptutils/py_scriptutils/script_logging.py
Due: isort, yapf, no-undocumented-api

refactor(cxx): move igraph to the standard library
  src/app/org_diagram/app/main.cpp
  src/app/org_diagram/src/model/graph/DiaGraph.cpp
  src/app/org_diagram/src/model/graph/DiaGraph.hpp
  src/app/org_diagram/src/model/graph/IOrgGraph.cpp
  src/app/org_diagram/src/model/graph/IOrgGraph.hpp
  src/hstd/ext/hstd_graph.cpp
  src/hstd/ext/hstd_graph.hpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): extract hierarchy to own class
  src/app/org_diagram/app/main.cpp
  src/app/org_diagram/src/model/graph/DiaGraph.cpp
  src/app/org_diagram/src/model/graph/DiaGraph.hpp
  src/app/org_diagram/src/model/graph/IOrgGraph.hpp
  src/app/org_diagram/src/utils/common.hpp
  src/hstd/ext/hstd_graph.cpp
  src/hstd/ext/hstd_graph.hpp
  src/hstd/stdlib/dod_base.hpp
  src/hstd/system/reflection.hpp
Due: find-debug-calls, no-undocumented-api
