Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    scripts/py_wrappers/py_wrappers/py_adaptagrams\.pyi|
    src/py_libs/py_adaptagrams/adaptagrams_py_wrap\.cpp|
    src/wrappers/js/haxorg_wasm\.cpp|
    src/wrappers/js/haxorg_wasm_types\.d\.ts|
    scripts/py_haxorg/py_haxorg/pyhaxorg\.pyi|
    src/py_libs/pyhaxorg/pyhaxorg\.cpp|
    src/haxorg/serde/SemOrgProto\.proto|
    src/haxorg/serde/SemOrgSerdeDeclarations\.hpp|
    src/haxorg/serde/SemOrgSerdeDefinitions\.cpp|
    src/haxorg/exporters/Exporter\.tcc|
    src/haxorg/imm/ImmOrgSerde\.tcc|
    src/haxorg/imm/ImmOrgAdapterGenerated\.hpp|
    src/haxorg/exporters/ExporterMethods\.tcc|
    src/haxorg/sem/SemOrgEnums\.hpp|
    src/haxorg/sem/SemOrgEnums\.cpp|
    src/haxorg/sem/SemOrgSharedTypes\.hpp|
    src/haxorg/sem/SemOrgTypes\.hpp|
    src/haxorg/imm/ImmOrgTypes\.hpp
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

wip(mmap): support different graphviz algorithms
  src/hstd/ext/graph/base/README.org
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/graph/visual/graph_graphviz.proto
  src/hstd/ext/graph/visual/graph_visual.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): configure graphviz algorithms on load
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/graph/visual/graph_graphviz.proto
Due: find-debug-calls, no-undocumented-api

feat(mmap): read graphviz algorithm from protobuf
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  tests/hstd/graph/tGraphVisualGraphviz.cpp
  tests/hstd/graph/tGraphVisualMixed.cpp
  tests/hstd/tGraphTracker.cpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): kiwi graph reading from protobuf
  src/app/org_cli/diagram_ctx.cpp
  src/hstd/ext/graph/base/graph_vertex.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/graph_visual.cpp
  src/hstd/ext/graph/visual/graph_visual.hpp
  src/hstd/ext/graph/visual/visual_factory.cpp
  tests/diagram/README.org
  tests/diagram/direct_ir/README.org
  tests/diagram/direct_ir/graphviz_node_to_node_1.json
  tests/diagram/direct_ir/kiwi_align_constraint_1.json
Due: find-debug-calls, no-undocumented-api

refactor(mmap): load attributes after structure
  src/hstd/ext/graph/base/graph_base.cpp
  src/hstd/ext/graph/base/graph_vertex.cpp
  src/hstd/ext/graph/visual/visual_factory.cpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): trivial vertex hierarchy reader
  src/hstd/ext/graph/base/graph_hierarchy.cpp
  src/hstd/ext/graph/base/graph_hierarchy.hpp
  tests/diagram/direct_ir/kiwi_align_constraint_1.json
Due: find-debug-calls, no-undocumented-api

refactor(mmap): load edges in derived hierarchies
  src/hstd/ext/graph/base/graph_base.cpp
  src/hstd/ext/graph/base/graph_hierarchy.cpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
Due: find-debug-calls, no-undocumented-api

wip(mmap): support constraint loading
  src/hstd/ext/graph/base/graph_common.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/graph_visual.hpp
  src/hstd/ext/graph/visual/visual_factory.cpp
  tests/hstd/graph/tGraphVisualKiwi.cpp
  tests/hstd/graph/tGraphVisualMixed.cpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): constraint loading for kiwi
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/geometry/kiwi_ir.proto
  src/hstd/ext/geometry/kiwi_ir_serde.cpp
  src/hstd/ext/geometry/kiwi_ir_serde.hpp
  src/hstd/ext/graph/base/graph_common.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/hstd_serde.hpp
  tests/diagram/direct_ir/kiwi_align_constraint_1.json
Due: find-debug-calls, no-undocumented-api

feat(mmap): separation distance via protobuf IR
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/visual_factory.cpp
  tests/diagram/direct_ir/kiwi_align_constraint_1.json
Due: find-debug-calls, no-undocumented-api

feat(mmap): protobuf definition for simpler IR
  src/hstd/CMakeLists.txt
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.hpp
  src/hstd/ext/graph/visual/graph_diagram.proto
Due: find-debug-calls, cmake-format, no-undocumented-api

feat(cli): integrate diagram JSON reading
  buf.gen.yaml
  buf.yaml
  justfile
  src/app/org_cli/cli_opts.hpp
  src/app/org_cli/diagram_ctx.cpp
  src/hstd/ext/hstd_serde.hpp
  tests/diagram/README.org
  tests/diagram/diagram_ir/graphviz_simple_1.json
Due: find-debug-calls, no-undocumented-api

fix(mmap): auto-add diagram hierarchy edges
  src/app/org_cli/cli_opts.hpp
  src/app/org_cli/diagram_ctx.cpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/hstd/ext/graph/base/graph_attribute.hpp
  src/hstd/ext/graph/base/graph_base.proto
  src/hstd/ext/graph/base/graph_edge.cpp
  src/hstd/ext/graph/base/graph_edge.hpp
  src/hstd/ext/graph/base/graph_hierarchy.cpp
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/visual_factory.cpp
Due: find-debug-calls, no-undocumented-api

fix(mmap): remove duplicate edge reads
  src/hstd/ext/graph/base/graph_base.cpp
  src/hstd/ext/graph/base/graph_edge.cpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  tests/diagram/diagram_ir/graphviz_simple_1.json
Due: find-debug-calls, no-undocumented-api

wip(repo): use `buf` for working with protobuf
  CMakeLists.txt
  buf.yaml
  scripts/py_codegen/py_codegen/codegen.py
  src/buf.lock
  src/buf.yaml
  src/cmake/functions_setup.cmake
  src/haxorg/CMakeLists.txt
  src/haxorg/buf.gen.yaml
  src/haxorg/imm/ImmOrgGraph.proto
  src/haxorg/serde/OrgApiProto.proto
  src/haxorg/serde/SemOrgProto.proto
  src/hstd/CMakeLists.txt
  src/hstd/buf.gen.yaml
  src/hstd/ext/geometry/hstd_visual.proto
  src/hstd/ext/graph/visual/graph_avoid.proto
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_elk.proto
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/graph_visual.proto
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

wip(repo): update abseil to the latest LTS
  src/haxorg/CMakeLists.txt
  src/hstd/CMakeLists.txt
Due: cmake-format

wip(repo): buf
  src/cmake/functions_setup.cmake
  src/haxorg/CMakeLists.txt
  src/haxorg/buf.gen.yaml
  src/hstd/CMakeLists.txt
  src/hstd/buf.gen.yaml
Due: cmake-format

Revert "wip(repo): buf"
  src/cmake/functions_setup.cmake
  src/haxorg/CMakeLists.txt
  src/haxorg/buf.gen.yaml
  src/hstd/CMakeLists.txt
  src/hstd/buf.gen.yaml
Due: cmake-format

Revert "wip(repo): update abseil to the latest LTS"
  src/haxorg/CMakeLists.txt
  src/hstd/CMakeLists.txt
Due: cmake-format

Revert "wip(repo): use `buf` for working with protobuf"
  .gitmodules
  CMakeLists.txt
  buf.gen.yaml
  buf.yaml
  scripts/py_codegen/py_codegen/codegen.py
  src/buf.lock
  src/buf.yaml
  src/cmake/functions_setup.cmake
  src/haxorg/CMakeLists.txt
  src/haxorg/imm/ImmOrgGraph.proto
  src/haxorg/serde/OrgApiProto.proto
  src/haxorg/serde/SemOrgProto.proto
  src/hstd/CMakeLists.txt
  src/hstd/buf.gen.yaml
  src/hstd/ext/geometry/hstd_visual.proto
  src/hstd/ext/graph/visual/graph_avoid.proto
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_elk.proto
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/graph_visual.proto
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(repo): initial add of protovalidate
  CMakeLists.txt
  src/cmake/functions_setup.cmake
Due: cmake-format

feat(mmap): add protovalidate to diagram
  buf.yaml
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/hstd_serde.cpp
  src/hstd/ext/hstd_serde.hpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): support for more kiwi constraints
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/geometry/kiwi_ir.hpp
  src/hstd/ext/geometry/kiwi_ir_repr.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/visual_factory.cpp
  src/hstd/ext/hstd_serde.hpp
  tests/diagram/diagram_ir/kiwi_align_1.json
  tests/diagram/diagram_ir/kiwi_multi_separate_grid.json
  tests/diagram/diagram_ir/kiwi_relative_fixed_absolute.json
Due: find-debug-calls, no-undocumented-api

wip(mmap): store bbox/path in the node attrs
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
Due: find-debug-calls, no-undocumented-api

refactor(mmap): split the graph diagram functions
  src/hstd/ext/graph/visual/graph_diagram.cpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): optionally drop attrs in diagram
  src/hstd/ext/geometry/kiwi_ir.cpp
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.hpp
  src/hstd/ext/graph/visual/graph_kiwi.cpp
  src/hstd/stdlib/strutils.cpp
  src/hstd/stdlib/strutils.hpp
  tests/diagram/diagram_ir/kiwi_multi_separate_grid.json
Due: find-debug-calls, no-undocumented-api

wip(test): protobuf-based diagram spec for tests
  src/hstd/CMakeLists.txt
  src/hstd/ext/geometry/hstd_geometry_test.cpp
  src/hstd/ext/geometry/hstd_geometry_test.hpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.cpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.hpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.proto
  src/hstd/ext/graph/base/graph_common.hpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_diagram_validate.cpp
  src/hstd/ext/graph/visual/graph_diagram_validate.hpp
  src/hstd/ext/graph/visual/graph_diagram_validate.proto
  src/hstd/ext/graph/visual/graph_visual.hpp
  src/hstd/ext/hstd_serde.hpp
  tests/hstd/graph/tGraphVisualSpec.cpp
  tests/org/tImmMindMap.cpp
Due: find-debug-calls, cmake-format, no-undocumented-api

test(mmap): add protobuf spec for diagram tests
  buf.gen.yaml
  justfile
  src/hstd/ext/graph/visual/graph_avoid.hpp
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram_validate.cpp
  src/hstd/ext/graph/visual/graph_diagram_validate.hpp
  src/hstd/ext/graph/visual/graph_elk.cpp
  src/hstd/ext/graph/visual/graph_elk.hpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/graph/visual/graph_kiwi.hpp
  src/hstd/ext/graph/visual/graph_visual.cpp
  src/hstd/ext/graph/visual/graph_visual.hpp
  tests/hstd/graph/diagram_tests/trivial_test.json
  tests/hstd/graph/tGraphVisualGraphviz.cpp
  tests/hstd/graph/tGraphVisualKiwi.cpp
  tests/hstd/graph/tGraphVisualMixed.cpp
  tests/hstd/graph/tGraphVisualSpec.cpp
Due: find-debug-calls, no-undocumented-api

test(mmap): use main/nested for validate spec
  buf.gen.yaml
  src/hstd/ext/geometry/hstd_geometry_test.hpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.cpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.proto
  src/hstd/ext/graph/visual/graph_diagram.proto
  tests/hstd/graph/diagram_tests/gv_nested_cluster.json
  tests/hstd/graph/diagram_tests/gv_one_to_one.json
  tests/hstd/graph/diagram_tests/trivial_test.json
Due: find-debug-calls, no-undocumented-api

refactor(mmap): split diagram validation rules
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_diagram_validate.cpp
  src/hstd/ext/graph/visual/graph_graphviz.proto
  src/hstd/ext/graph/visual/graph_kiwi.proto
  src/hstd/ext/graph/visual/graph_visual.proto
  tests/hstd/graph/diagram_tests/gv_nested_cluster.json
  tests/hstd/graph/diagram_tests/trivial_test.json
  tests/hstd/graph/tGraphVisualSpec.cpp
Due: find-debug-calls, no-undocumented-api

feat(test): user-defined expressions in checks
  src/hstd/ext/geometry/hstd_geometry.hpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.cpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.proto
  src/hstd/ext/graph/visual/graph_diagram.cpp
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_diagram_validate.cpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/hstd_serde.hpp
  tests/common.cpp
  tests/common.hpp
  tests/hstd/graph/diagram_tests/gv_nested_cluster.json
  tests/hstd/graph/diagram_tests/gv_one_to_one.json
  tests/hstd/graph/diagram_tests/trivial_test.json
  tests/hstd/graph/tGraphVisualSpec.cpp
Due: find-debug-calls, no-undocumented-api

refactor(test): simplify LLM code for geometry
  src/hstd/ext/geometry/hstd_geometry_test_ir.cpp
  src/hstd/ext/hstd_serde.hpp
Due: find-debug-calls, no-undocumented-api

refactor(test): add tree IR for the geometry refs
  src/hstd/ext/geometry/hstd_geometry_test_ir.cpp
Due: find-debug-calls, no-undocumented-api

feat(test): add geometry scalar "is close" check
  src/hstd/ext/geometry/hstd_geometry_test_ir.cpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.hpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.proto
  src/hstd/ext/hstd_serde.hpp
  src/hstd/stdlib/Json.cpp
  src/hstd/stdlib/Json.hpp
  src/hstd/stdlib/Variant.hpp
  tests/hstd/graph/diagram_tests/gv_nested_cluster.json
Due: find-debug-calls, no-undocumented-api

feat(test): dump diagram, elements, validation
  src/hstd/ext/geometry/hstd_geometry_test_ir.cpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.hpp
  src/hstd/ext/geometry/hstd_geometry_test_ir.proto
  src/hstd/ext/graph/visual/graph_diagram_validate.cpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/hstd_serde_json_interop.hpp
  src/hstd/stdlib/ExceptionSerde.hpp
  src/hstd/stdlib/OutcomeSerde.hpp
  tests/hstd/graph/diagram_tests/gv_nested_cluster.json
  tests/hstd/graph/tGraphVisualSpec.cpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): split gv layout into smaller funcs
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/stdlib/TraceBase.hpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): introduce tagged geometry for gv
  src/hstd/ext/geometry/hstd_geometry.hpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  tests/hstd/tGeometryChecks.cpp
Due: find-debug-calls, no-undocumented-api

refactor(mmap): use tagged types in gv API
  src/hstd/ext/geometry/hstd_geometry.hpp
  src/hstd/ext/graph/visual/graph_diagram_validate.cpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  tests/hstd/graph/diagram_tests/gv_nested_cluster.json
  tests/hstd/graph/tGraphVisualGraphviz.cpp
  tests/hstd/graph/tGraphVisualMixed.cpp
Due: find-debug-calls, no-undocumented-api

feat(mmap): root property for twopi/circo gv
  src/hstd/ext/graph/visual/graph_diagram.proto
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  src/hstd/ext/graph/visual/graph_graphviz.hpp
  src/hstd/ext/graph/visual/graph_graphviz.proto
  tests/hstd/graph/diagram_tests/gv_twopi_layers.json
Due: find-debug-calls, no-undocumented-api

wip(mmap): checkpoint
  src/hstd/ext/geometry/hstd_geometry.hpp
  src/hstd/ext/graph/visual/graph_graphviz.cpp
  tests/hstd/graph/diagram_tests/README.org
  tests/hstd/graph/diagram_tests/gv_twopi_layers.json
Due: find-debug-calls, no-undocumented-api
