Repository haxscramper/haxorg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        exclude: ^\.clang-format$
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: uv run --dev isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        entry: uv run --dev yapf -i
        language: system
        types: [python]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        types_or: [c, c++, cuda]
  - repo: local
    hooks:
      - id: check-repo-tasks
        name: check-repo-tasks
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
        language: system
        files: ^scripts/py_repository/py_repository/repo_tasks/.*\.json$
  - repo: local
    hooks:
      - id: find-debug-calls
        name: Find debug calls
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_cxx_code.py
        language: system
        types: [c++]
  - repo: local
    hooks:
      - id: cmake-format
        name: cmake-format
        entry: cmake-format -i
        language: system
        files: (CMakeLists\.txt|\.cmake)$
  - repo: local
    hooks:
      - id: no-undocumented-api
        name: Prevent undocumented Python/C++ functions/classes (whole file)
        entry: uv run --dev ./scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
        language: system
        pass_filenames: true
        # args: [--whole-file]
        files: \.(py|h|hh|hpp|hxx|c|cc|cpp|cxx)$

wip(repo): updating CI run for new uv package
  scripts/py_ci/py_ci/util_scripting.py
  scripts/py_repository/Dockerfile
  scripts/py_repository/py_repository/repo_tasks/command_execution.py
  scripts/py_repository/py_repository/repo_tasks/common.py
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/deps_build.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_base.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_conf_develop_docker_ci.json
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_tests.py
Due: isort, yapf, check-repo-tasks, no-undocumented-api

feat(repo): task to generate import graph
  haxorg.svg
  pyproject.toml
  scripts/py_repository/py_repository/code_analysis/gen_import_graph.py
  scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  scripts/py_repository/py_repository/repo_tasks/common.py
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_base.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  uv.lock
Due: isort, yapf, no-undocumented-api

feat(repo): export import graph in graphml
  scripts/py_repository/py_repository/code_analysis/gen_import_graph.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
Due: isort, yapf, no-undocumented-api

refactor(py): move exporter logic to py-haxorg
  pyproject.toml
  scripts/py_cli/py_cli/export/haxorg_export_html.py
  scripts/py_cli/py_cli/export/haxorg_export_pandoc.py
  scripts/py_cli/py_cli/export/haxorg_export_sqlite.py
  scripts/py_cli/py_cli/export/haxorg_export_tex.py
  scripts/py_cli/py_cli/export/haxorg_export_typst.py
  scripts/py_cli/py_cli/export/haxorg_export_ultraplain.py
  scripts/py_cli/py_cli/generate/activity_analysis.py
  scripts/py_cli/py_cli/generate/story_grid.py
  scripts/py_cli/py_cli/generate/subtree_clocking.py
  scripts/py_exporters/README.org
  scripts/py_exporters/py_exporters/__init__.py
  scripts/py_exporters/pyproject.toml
  scripts/py_haxorg/py_haxorg/exporters/export_base.py
  scripts/py_haxorg/py_haxorg/exporters/export_html.py
  scripts/py_haxorg/py_haxorg/exporters/export_pandoc.py
  scripts/py_haxorg/py_haxorg/exporters/export_sqlite.py
  scripts/py_haxorg/py_haxorg/exporters/export_tex.py
  scripts/py_haxorg/py_haxorg/exporters/export_typst.py
  scripts/py_haxorg/py_haxorg/exporters/export_typst_base.toml
  scripts/py_haxorg/py_haxorg/exporters/export_typst_base.typ
  scripts/py_haxorg/py_haxorg/exporters/export_ultraplain.py
  scripts/py_haxorg/py_haxorg/exporters/export_utils/texoutparse.py
  scripts/py_haxorg/py_haxorg/pyhaxorg_utils.py
  scripts/py_repository/py_repository/repo_docgen/gen_documentation_data.py
  scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  tests/python/test_cli.py
  tests/python/test_coverall.py
  tests/python/test_simple_org_use.py
  uv.lock
Due: isort, yapf, no-undocumented-api

feat(repo): initial python docgen task
  pyproject.toml
  scripts/py_cli/py_cli/export/__init__.py
  scripts/py_cli/py_cli/generate/__init__.py
  scripts/py_cli/py_cli/generate/mind_map/__init__.py
  scripts/py_codegen/py_codegen/__init__.py
  scripts/py_codegen/py_codegen/astbuilder_base.py
  scripts/py_codegen/py_codegen/refl_read.py
  scripts/py_haxorg/py_haxorg/__init__.py
  scripts/py_haxorg/py_haxorg/exporters/__init__.py
  scripts/py_haxorg/py_haxorg/exporters/export_utils/__init__.py
  scripts/py_repository/py_repository/__init__.py
  scripts/py_repository/py_repository/code_analysis/__init__.py
  scripts/py_repository/py_repository/repo_docgen/__init__.py
  scripts/py_repository/py_repository/repo_hooks/__init__.py
  scripts/py_repository/py_repository/repo_tasks/__init__.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_docs.py
  scripts/py_scriptutils/py_scriptutils/__init__.py
  uv.lock
Due: isort, yapf, no-undocumented-api

feat(repo): custom sphinx file template
  docs/templates/module.rst.jinja
  docs/templates/package.rst.jinja
  docs/templates/toc.rst.jinja
  scripts/py_repository/py_repository/repo_tasks/haxorg_docs.py
Due: isort, yapf, no-undocumented-api

refactor(py): put sphinx codegen to own file
  .commit-wip.md
  scripts/py_haxorg/py_haxorg/pyhaxorg_wrap.py
  scripts/py_repository/py_repository/code_analysis/gen_coverage_cxx.py
  scripts/py_repository/py_repository/code_analysis/gen_coverage_python.py
  scripts/py_repository/py_repository/repo_docgen/gen_coverage.css
  scripts/py_repository/py_repository/repo_docgen/gen_coverage.js
  scripts/py_repository/py_repository/repo_docgen/gen_coverage.py
  scripts/py_repository/py_repository/repo_docgen/gen_coverage_data.py
  scripts/py_repository/py_repository/repo_docgen/gen_coverage_utils.py
  scripts/py_repository/py_repository/repo_docgen/gen_documentation_cxx.py
  scripts/py_repository/py_repository/repo_docgen/gen_documentation_data.py
  scripts/py_repository/py_repository/repo_docgen/gen_documentation_python.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_docs.py
  scripts/py_scriptutils/py_scriptutils/script_logging.py
  tests/python/repo/test_code_coverage.py
Due: isort, yapf, no-undocumented-api

feat(repo): show message template in git prepare
  scripts/py_repository/py_repository/repo_hooks/prepare_commit_message.py
Due: isort, yapf, no-undocumented-api

feat(py): generate structured python docs
  .gitignore
  scripts/py_repository/py_repository/repo_docgen/gen_documentation_python.py
  scripts/py_repository/py_repository/repo_docgen/gen_structjson_sphinx.py
Due: isort, yapf, no-undocumented-api

feat(py): restore nested code structure in docs
  scripts/py_repository/py_repository/repo_docgen/gen_documentation_python.py
  scripts/py_repository/py_repository/repo_docgen/gen_structjson_sphinx.py
Due: isort, yapf, no-undocumented-api

feat(py): include rendered text to docs dump
  scripts/py_repository/py_repository/repo_docgen/gen_structjson_sphinx.py
Due: isort, yapf, no-undocumented-api

feat(py): infer source code location for docs
  scripts/py_repository/py_repository/repo_docgen/gen_structjson_sphinx.py
Due: isort, yapf, no-undocumented-api

feat(cxx): codechecker analysis
  .clang-tidy
  pyproject.toml
  scripts/py_repository/py_repository/code_analysis/codechecker_environment/pyproject.toml
  scripts/py_repository/py_repository/code_analysis/codechecker_environment/skip.txt
  scripts/py_repository/py_repository/code_analysis/codechecker_environment/uv.lock
  scripts/py_repository/py_repository/repo_tasks/haxorg_linting.py
Due: isort, yapf, no-undocumented-api

feat(py): workflow to run codechecker server
  scripts/py_repository/py_repository/repo_tasks/haxorg_linting.py
Due: isort, yapf, no-undocumented-api

chore(repo): remove gold wrapper option
  CMakeLists.txt
  scripts/py_ci/py_ci/gold_wrapper.py
  src/cmake/functions_setup.cmake
Due: isort, yapf, cmake-format, no-undocumented-api

refactor(repo): remove cpack build
  .github/workflows/release_test.yaml
  CMakeLists.txt
  docs/Doxyfile
  scripts/py_repository/cpack_build_in_fedora.dockerfile
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/deps_build.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_build.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
Due: isort, yapf, cmake-format, no-undocumented-api

fix(repo): don't duplicate prepared messages
  scripts/py_repository/fedora_release.dockerfile
  scripts/py_repository/py_repository/repo_hooks/prepare_commit_message.py
Due: isort, yapf, no-undocumented-api

refactor(repo): merge text lyt and haxorg packages
  pyproject.toml
  scripts/py_cli/py_cli/export/haxorg_export_tex.py
  scripts/py_codegen/py_codegen/astbuilder_base.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_nim.py
  scripts/py_codegen/py_codegen/astbuilder_proto.py
  scripts/py_codegen/py_codegen/astbuilder_py.py
  scripts/py_codegen/py_codegen/astbuilder_pybind11.py
  scripts/py_codegen/py_codegen/astbuilder_typst.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/gen_tu_cpp.py
  scripts/py_codegen/py_codegen/refl_extract.py
  scripts/py_codegen/py_codegen/wrapper_gen_nim.py
  scripts/py_haxorg/build.py
  scripts/py_haxorg/py_haxorg/exporters/export_base.py
  scripts/py_haxorg/py_haxorg/exporters/export_tex.py
  scripts/py_haxorg/py_haxorg/exporters/export_typst.py
  scripts/py_haxorg/py_haxorg/exporters/export_ultraplain.py
  scripts/py_haxorg/py_haxorg/layout/__init__.py
  scripts/py_haxorg/py_haxorg/layout/types.pyi
  scripts/py_haxorg/py_haxorg/layout/wrap.py
  scripts/py_haxorg/pyproject.toml
  scripts/py_repository/py_repository/code_analysis/gen_coverage_cxx.py
  scripts/py_repository/py_repository/repo_tasks/deps_build.py
  scripts/py_textlayout/README.org
  scripts/py_textlayout/py_textlayout/__init__.py
  scripts/py_textlayout/pyproject.toml
  tests/python/refl/test_function_reflection.py
  tests/python/test_simple_org_use.py
  uv.lock
Due: isort, yapf, no-undocumented-api

feat(repo): verify `conan instal .` working
  conanfile.py
  scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
Due: isort, yapf, no-undocumented-api

feat(repo): initial test package
  conanfile.py
  scripts/py_repository/py_repository/repo_hooks/validate_documentation_changes.py
  src/haxorg/CMakeLists.txt
  tests/vendor/conan_test_package/CMakeLists.txt
  tests/vendor/conan_test_package/conanfile.py
  tests/vendor/conan_test_package/main.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(repo): validate test conan package run
  CMakeLists.txt
  src/cmake/functions_setup.cmake
  tests/vendor/conan_test_package/CMakeLists.txt
  tests/vendor/conan_test_package/conanfile.py
  tests/vendor/conan_test_package/main.cpp
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

feat(py): script to verify python package install
  .envrc
  scripts/py_ci/py_ci/test_uv_install.py
  scripts/py_ci/py_ci/util_scripting.py
  scripts/py_cli/py_cli/generate/mind_map/gen_mind_map.py
  scripts/py_haxorg/py_haxorg/exporters/export_base.py
  scripts/py_haxorg/py_haxorg/exporters/export_html.py
  scripts/py_haxorg/py_haxorg/layout/wrap.py
  scripts/py_haxorg/pyproject.toml
  scripts/py_repository/py_repository/repo_tasks/haxorg_base.py
  tests/vendor/haxorg_py_test_package/.python-version
  tests/vendor/haxorg_py_test_package/README.md
  tests/vendor/haxorg_py_test_package/main.py
  tests/vendor/haxorg_py_test_package/pyproject.toml
  tests/vendor/haxorg_py_test_package/test.py
  uv.lock
Due: isort, yapf, no-undocumented-api

refactor(py): add missing py_haxorg dependencies
  .envrc
  scripts/py_cli/py_cli/generate/story_grid.py
  scripts/py_cli/py_cli/haxorg.py
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_nim.py
  scripts/py_codegen/py_codegen/astbuilder_py.py
  scripts/py_haxorg/py_haxorg/astbuilder/astbuilder_base.py
  scripts/py_haxorg/py_haxorg/astbuilder/astbuilder_typst.py
  scripts/py_haxorg/py_haxorg/exporters/export_base.py
  scripts/py_haxorg/py_haxorg/exporters/export_typst.py
  scripts/py_haxorg/py_haxorg/pyhaxorg_utils.py
  scripts/py_haxorg/pyproject.toml
  scripts/py_scriptutils/py_scriptutils/repo_files.py
  scripts/py_scriptutils/py_scriptutils/script_logging.py
  tasks.py
  uv.lock
Due: isort, yapf, no-undocumented-api

refactor(py): convert traceback into factory
  scripts/py_repository/fedora_release.dockerfile
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
  scripts/py_repository/py_repository/repo_tasks/workflow.py
  scripts/py_scriptutils/py_scriptutils/script_logging.py
Due: isort, yapf, no-undocumented-api

feat(cxx): verify conan create in clean system
  conanfile.py
  pyproject.toml
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
  src/haxorg/CMakeLists.txt
  src/hstd/ext/log_graph_tracker.cpp
  tests/vendor/conan_test_package/CMakeLists.txt
  uv.lock
Due: isort, yapf, find-debug-calls, cmake-format, no-undocumented-api

refactor(cxx): make pybind11 dep optional
  CMakeLists.txt
  conanfile.py
Due: isort, yapf, cmake-format, no-undocumented-api

fix(py): update py haxorg import
  .envrc
  scripts/py_haxorg/py_haxorg/exporters/export_base.py
Due: isort, yapf, no-undocumented-api

feat(repo): add conan and uv install to github CI
  .github/workflows/pre_commit.yaml
  .github/workflows/release_test.yaml
  scripts/py_ci/py_ci/conan_default_profile.ini
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
Due: isort, yapf, no-undocumented-api

fix(ci): add cmake-format to the pre-commit CI
  .github/workflows/pre_commit.yaml
  .github/workflows/release_test.yaml
Due: none

fix(ci): verify CI locally passing
  .github/workflows/pre_commit.yaml
  .github/workflows/release_test.yaml
  CMakeLists.txt
  scripts/py_haxorg/pyproject.toml
  src/cmake/functions_setup.cmake
  src/haxorg/serde/SemOrgCereal.cpp
  src/haxorg/serde/SemOrgCereal.hpp
Due: find-debug-calls, cmake-format, no-undocumented-api

fix(cxx): update msgpack cmake option
  justfile
  scripts/py_repository/py_repository/repo_tasks/config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_base.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_build.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_docker.py
Due: isort, yapf, no-undocumented-api

fix(repo): don't pre-commit auto-generated sources
  .pre-commit-config.yaml
  justfile
  scripts/py_repository/py_repository/repo_hooks/validate_repo_task_config.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_codegen.py
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/haxorg/exporters/Exporter.tcc
  src/haxorg/exporters/ExporterMethods.tcc
  src/haxorg/imm/ImmOrgSerde.tcc
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/sem/SemOrgEnums.cpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/haxorg/sem/SemOrgSharedTypes.hpp
  src/haxorg/sem/SemOrgTypes.hpp
  src/haxorg/serde/SemOrgProto.proto
  src/haxorg/serde/SemOrgSerdeDeclarations.hpp
  src/haxorg/serde/SemOrgSerdeDefinitions.cpp
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pybind11_utils.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

feat(py): use nanobind instead of pybind
  CMakeLists.txt
  justfile
  scripts/py_codegen/py_codegen/astbuilder_pybind11.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/gen_tu_cpp.py
  scripts/py_codegen/py_codegen/org_codegen_data.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  src/adaptagrams/CMakeLists.txt
  src/haxorg/sem/SemOrgBase.hpp
  src/py_libs/CMakeLists.txt
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pybind11_utils.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/py_libs/pyhaxorg/pyhaxorg_test_main.cpp
  tests/python/refl/test_function_reflection.py
Due: isort, yapf, check-repo-tasks, find-debug-calls, cmake-format, no-undocumented-api

feat(py): use nanobind for text layout
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/py_libs/py_textlayout/py_textlayout.cpp
  src/py_libs/py_type_casters.hpp
Due: check-repo-tasks, find-debug-calls, no-undocumented-api

fix(py): can execute most of the python tests
  docs/org/codegen.org
  justfile
  scripts/py_codegen/py_codegen/astbuilder_embind.py
  scripts/py_codegen/py_codegen/astbuilder_pybind11.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_wrappers/py_wrappers/py_adaptagrams.pyi
  src/py_libs/py_adaptagrams/adaptagrams_py_wrap.cpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_impl.cpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_impl.hpp
  src/py_libs/pyhaxorg/pyhaxorg_manual_wrap.hpp
Due: isort, yapf, find-debug-calls, no-undocumented-api

refactor(cxx): split auto-generated adapter API
  src/app/org_diagram/src/model/DiaNodeTreeModel.hpp
  src/app/org_diagram/src/utils/common.hpp
  src/app/org_imgui/gui_lib/dir_explorer.cpp
  src/app/org_imgui/gui_lib/im_org_ui_common.cpp
  src/haxorg/api/EvalContext.cpp
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrg.hpp
  src/haxorg/imm/ImmOrgAdapter.hpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgEdit.cpp
  src/haxorg/imm/ImmOrgGraph.cpp
  src/haxorg/imm/ImmOrgGraph.hpp
  src/haxorg/imm/ImmOrgGraphBoost.hpp
  src/haxorg/imm/ImmOrgStore.cpp
  src/haxorg/sem/SemAstDiff.cpp
  src/haxorg/sem/SemOrgSharedApi.cpp
  src/haxorg/serde/SemOrgCereal.cpp
  src/haxorg/serde/SemOrgCereal.hpp
Due: find-debug-calls, no-undocumented-api

feat(cxx): generate adapter types in codegen
  .fdignore
  .pre-commit-config.yaml
  justfile
  scripts/py_codegen/py_codegen/astbuilder_cpp.py
  scripts/py_codegen/py_codegen/astbuilder_proto.py
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/gen_tu_cpp.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  scripts/py_repository/py_repository/repo_tasks/haxorg_only_source_generate.json
  src/haxorg/imm/ImmOrg.cpp
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/sem/SemOrgSharedTypes.hpp
  src/haxorg/sem/SemOrgTypes.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, check-repo-tasks, find-debug-calls, no-undocumented-api

refactor(py): map to immutable w/o mutation
  scripts/py_codegen/py_codegen/codegen.py
  scripts/py_codegen/py_codegen/codegen_immutable.py
  scripts/py_haxorg/py_haxorg/pyhaxorg.pyi
  src/haxorg/imm/ImmOrgAdapterGenerated.hpp
  src/haxorg/imm/ImmOrgTypes.hpp
  src/haxorg/sem/SemOrgEnums.hpp
  src/py_libs/pyhaxorg/pyhaxorg.cpp
  src/wrappers/js/haxorg_wasm.cpp
  src/wrappers/js/haxorg_wasm_types.d.ts
Due: isort, yapf, find-debug-calls, no-undocumented-api
